body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:860px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5884 {
  position:absolute;
  left:20px;
  top:20px;
  width:398px;
  height:310px;
}
#u5885 {
  position:absolute;
  left:2px;
  top:147px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:50px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5886 {
  position:absolute;
  left:21px;
  top:21px;
  width:396px;
  height:50px;
}
#u5887 {
  position:absolute;
  left:2px;
  top:17px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5888 {
  position:absolute;
  left:380px;
  top:39px;
  width:20px;
  height:16px;
}
#u5889 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u5890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5890 {
  position:absolute;
  left:35px;
  top:37px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u5891 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u5892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5892 {
  position:absolute;
  left:35px;
  top:177px;
  width:57px;
  height:16px;
  color:#999999;
}
#u5893 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5894 {
  position:absolute;
  left:35px;
  top:93px;
  width:57px;
  height:16px;
  color:#999999;
}
#u5895 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5896 {
  position:absolute;
  left:35px;
  top:134px;
  width:69px;
  height:16px;
  color:#999999;
}
#u5897 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u5898 {
  position:absolute;
  left:120px;
  top:174px;
  width:210px;
  height:25px;
}
#u5898_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5899 {
  position:absolute;
  left:35px;
  top:218px;
  width:57px;
  height:16px;
  color:#999999;
}
#u5900 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5901 {
  position:absolute;
  left:120px;
  top:215px;
  width:210px;
  height:25px;
}
#u5901_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5902 {
  position:absolute;
  left:120px;
  top:130px;
  width:210px;
  height:25px;
}
#u5902_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5903 {
  position:absolute;
  left:462px;
  top:20px;
  width:398px;
  height:310px;
}
#u5904 {
  position:absolute;
  left:2px;
  top:147px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:50px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5905 {
  position:absolute;
  left:463px;
  top:21px;
  width:396px;
  height:50px;
}
#u5906 {
  position:absolute;
  left:2px;
  top:17px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5907 {
  position:absolute;
  left:822px;
  top:39px;
  width:20px;
  height:16px;
}
#u5908 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u5909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5909 {
  position:absolute;
  left:477px;
  top:37px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u5910 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u5911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5911 {
  position:absolute;
  left:477px;
  top:93px;
  width:57px;
  height:16px;
  color:#999999;
}
#u5912 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5913 {
  position:absolute;
  left:477px;
  top:134px;
  width:69px;
  height:16px;
  color:#999999;
}
#u5914 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u5915 {
  position:absolute;
  left:562px;
  top:130px;
  width:210px;
  height:25px;
}
#u5915_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5916 {
  position:absolute;
  left:238px;
  top:292px;
  width:60px;
  height:28px;
  color:#FFFFFF;
}
#u5916_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5916.mouseOver {
}
#u5916_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5916.mouseDown {
}
#u5917 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u5918 {
  position:absolute;
  left:120px;
  top:90px;
  width:210px;
  height:22px;
}
#u5918_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5918_input:disabled {
  color:grayText;
}
#u5919 {
  position:absolute;
  left:562px;
  top:90px;
  width:210px;
  height:22px;
}
#u5919_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5919_input:disabled {
  color:grayText;
}
#u5920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5920 {
  position:absolute;
  left:660px;
  top:292px;
  width:60px;
  height:28px;
  color:#FFFFFF;
}
#u5920_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5920.mouseOver {
}
#u5920_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5920.mouseDown {
}
#u5921 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u5922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5922 {
  position:absolute;
  left:740px;
  top:292px;
  width:60px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5922_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5922.mouseOver {
}
#u5922_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5922.selected {
}
#u5923 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u5924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5924 {
  position:absolute;
  left:322px;
  top:292px;
  width:60px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5924_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5924.mouseOver {
}
#u5924_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5924.selected {
}
#u5925 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
