body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:669px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  height:450px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8812 {
  position:absolute;
  left:0px;
  top:50px;
  width:669px;
  height:450px;
}
#u8813 {
  position:absolute;
  left:2px;
  top:217px;
  width:665px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  height:50px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8814 {
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  height:50px;
}
#u8815 {
  position:absolute;
  left:2px;
  top:17px;
  width:665px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8816 {
  position:absolute;
  left:629px;
  top:17px;
  width:20px;
  height:16px;
}
#u8817 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u8818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8818 {
  position:absolute;
  left:14px;
  top:16px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u8819 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8820 {
  position:absolute;
  left:39px;
  top:166px;
  width:610px;
  height:274px;
  overflow:hidden;
}
#u8820_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:274px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u8820_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:148px;
}
#u8821 {
  position:absolute;
  left:0px;
  top:74px;
  width:591px;
  height:148px;
}
#u8822 {
  position:absolute;
  left:2px;
  top:66px;
  width:587px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8823 {
  position:absolute;
  left:0px;
  top:244px;
  width:591px;
  height:160px;
}
#u8824 {
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  word-wrap:break-word;
}
#u8825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u8825 {
  position:absolute;
  left:371px;
  top:444px;
  width:200px;
  height:48px;
  text-align:right;
}
#u8826 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u8827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  height:70px;
}
#u8827 {
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  height:70px;
}
#u8828 {
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  word-wrap:break-word;
}
#u8827_ann {
  position:absolute;
  left:564px;
  top:-4px;
  width:1px;
  height:1px;
}
#u8829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8829 {
  position:absolute;
  left:466px;
  top:460px;
  width:78px;
  height:30px;
  color:#FFFFFF;
}
#u8829_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8829.mouseOver {
}
#u8829_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8829.mouseDown {
}
#u8830 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u8831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u8831 {
  position:absolute;
  left:579px;
  top:460px;
  width:70px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u8831_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u8831.mouseOver {
}
#u8831_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u8831.selected {
}
#u8832 {
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u8833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8833 {
  position:absolute;
  left:269px;
  top:71px;
  width:130px;
  height:19px;
  font-size:16px;
}
#u8834 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u8835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:16px;
}
#u8835 {
  position:absolute;
  left:266px;
  top:104px;
  width:137px;
  height:16px;
}
#u8836 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u8837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u8837 {
  position:absolute;
  left:10px;
  top:1150px;
  width:100px;
  height:100px;
}
#u8838 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u8839 {
  position:absolute;
  left:133px;
  top:1150px;
  width:100px;
  height:100px;
}
#u8840 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u8841 {
  position:absolute;
  left:255px;
  top:1150px;
  width:100px;
  height:100px;
}
#u8842 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u8843 {
  position:absolute;
  left:378px;
  top:1150px;
  width:100px;
  height:100px;
}
#u8844 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u8845 {
  position:absolute;
  left:500px;
  top:1150px;
  width:100px;
  height:100px;
}
#u8846 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u8847 {
  position:absolute;
  left:39px;
  top:140px;
  width:300px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8848 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
