body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1090px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:356px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5662 {
  position:absolute;
  left:30px;
  top:254px;
  width:1040px;
  height:356px;
}
#u5663 {
  position:absolute;
  left:2px;
  top:170px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:174px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5664 {
  position:absolute;
  left:30px;
  top:70px;
  width:1040px;
  height:174px;
}
#u5665 {
  position:absolute;
  left:2px;
  top:79px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5666 {
  position:absolute;
  left:40px;
  top:80px;
  width:20px;
  height:20px;
}
#u5667 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5668 {
  position:absolute;
  left:70px;
  top:81px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u5669 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u5670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5670 {
  position:absolute;
  left:40px;
  top:120px;
  width:57px;
  height:16px;
  color:#999999;
}
#u5671 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5672 {
  position:absolute;
  left:139px;
  top:120px;
  width:29px;
  height:16px;
}
#u5673 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5674 {
  position:absolute;
  left:282px;
  top:172px;
  width:71px;
  height:16px;
  color:#999999;
}
#u5675 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u5676 {
  position:absolute;
  left:381px;
  top:172px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u5677 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5678 {
  position:absolute;
  left:40px;
  top:172px;
  width:57px;
  height:16px;
  color:#999999;
}
#u5679 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5680 {
  position:absolute;
  left:139px;
  top:172px;
  width:89px;
  height:16px;
}
#u5681 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u5682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5682 {
  position:absolute;
  left:40px;
  top:146px;
  width:29px;
  height:16px;
  color:#999999;
}
#u5683 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5684 {
  position:absolute;
  left:139px;
  top:146px;
  width:29px;
  height:16px;
}
#u5685 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5686 {
  position:absolute;
  left:282px;
  top:120px;
  width:71px;
  height:16px;
  color:#999999;
}
#u5687 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u5688 {
  position:absolute;
  left:381px;
  top:120px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u5689 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5690 {
  position:absolute;
  left:282px;
  top:146px;
  width:57px;
  height:16px;
  color:#999999;
}
#u5691 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u5692 {
  position:absolute;
  left:381px;
  top:146px;
  width:101px;
  height:16px;
  font-size:13px;
}
#u5693 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u5694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5694 {
  position:absolute;
  left:541px;
  top:172px;
  width:57px;
  height:16px;
  color:#999999;
}
#u5695 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u5696 {
  position:absolute;
  left:640px;
  top:172px;
  width:209px;
  height:16px;
  font-size:13px;
}
#u5697 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u5698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5698 {
  position:absolute;
  left:541px;
  top:146px;
  width:57px;
  height:16px;
  color:#999999;
}
#u5699 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5700 {
  position:absolute;
  left:640px;
  top:146px;
  width:43px;
  height:16px;
}
#u5701 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5702 {
  position:absolute;
  left:541px;
  top:120px;
  width:43px;
  height:16px;
  color:#999999;
}
#u5703 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5704 {
  position:absolute;
  left:640px;
  top:120px;
  width:29px;
  height:16px;
}
#u5705 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5706 {
  position:absolute;
  left:40px;
  top:270px;
  width:20px;
  height:20px;
}
#u5707 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5708 {
  position:absolute;
  left:70px;
  top:271px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u5709 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 51, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 102, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5710 {
  position:absolute;
  left:40px;
  top:520px;
  width:128px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5710_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 51, 51, 0.627450980392157);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 102, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5710.mouseOver {
}
#u5711 {
  position:absolute;
  left:2px;
  top:5px;
  width:124px;
  word-wrap:break-word;
}
#u5710_ann {
  position:absolute;
  left:161px;
  top:516px;
  width:1px;
  height:1px;
}
#u5712 {
  position:absolute;
  left:40px;
  top:320px;
  width:999px;
  height:125px;
}
#u5713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u5713 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u5714 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u5715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u5715 {
  position:absolute;
  left:199px;
  top:0px;
  width:199px;
  height:30px;
}
#u5716 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u5717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u5717 {
  position:absolute;
  left:398px;
  top:0px;
  width:199px;
  height:30px;
}
#u5718 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u5719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:30px;
}
#u5719 {
  position:absolute;
  left:597px;
  top:0px;
  width:198px;
  height:30px;
}
#u5720 {
  position:absolute;
  left:2px;
  top:7px;
  width:194px;
  word-wrap:break-word;
}
#u5721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u5721 {
  position:absolute;
  left:795px;
  top:0px;
  width:199px;
  height:30px;
}
#u5722 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u5723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u5723 {
  position:absolute;
  left:0px;
  top:30px;
  width:199px;
  height:30px;
}
#u5724 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u5725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u5725 {
  position:absolute;
  left:199px;
  top:30px;
  width:199px;
  height:30px;
}
#u5726 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u5727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u5727 {
  position:absolute;
  left:398px;
  top:30px;
  width:199px;
  height:30px;
}
#u5728 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u5729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:30px;
}
#u5729 {
  position:absolute;
  left:597px;
  top:30px;
  width:198px;
  height:30px;
}
#u5730 {
  position:absolute;
  left:2px;
  top:7px;
  width:194px;
  word-wrap:break-word;
}
#u5731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u5731 {
  position:absolute;
  left:795px;
  top:30px;
  width:199px;
  height:30px;
}
#u5732 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u5733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u5733 {
  position:absolute;
  left:0px;
  top:60px;
  width:199px;
  height:30px;
}
#u5734 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u5735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u5735 {
  position:absolute;
  left:199px;
  top:60px;
  width:199px;
  height:30px;
}
#u5736 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u5737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u5737 {
  position:absolute;
  left:398px;
  top:60px;
  width:199px;
  height:30px;
}
#u5738 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u5739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:30px;
}
#u5739 {
  position:absolute;
  left:597px;
  top:60px;
  width:198px;
  height:30px;
}
#u5740 {
  position:absolute;
  left:2px;
  top:7px;
  width:194px;
  word-wrap:break-word;
}
#u5741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u5741 {
  position:absolute;
  left:795px;
  top:60px;
  width:199px;
  height:30px;
}
#u5742 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u5743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u5743 {
  position:absolute;
  left:0px;
  top:90px;
  width:199px;
  height:30px;
}
#u5744 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u5745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u5745 {
  position:absolute;
  left:199px;
  top:90px;
  width:199px;
  height:30px;
}
#u5746 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u5747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u5747 {
  position:absolute;
  left:398px;
  top:90px;
  width:199px;
  height:30px;
}
#u5748 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u5749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:30px;
}
#u5749 {
  position:absolute;
  left:597px;
  top:90px;
  width:198px;
  height:30px;
}
#u5750 {
  position:absolute;
  left:2px;
  top:7px;
  width:194px;
  word-wrap:break-word;
}
#u5751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u5751 {
  position:absolute;
  left:795px;
  top:90px;
  width:199px;
  height:30px;
}
#u5752 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u5753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5753 {
  position:absolute;
  left:970px;
  top:78px;
  width:64px;
  height:25px;
  color:#FFFFFF;
}
#u5753_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5753.mouseOver {
}
#u5753_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5753.mouseDown {
}
#u5754 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u5755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5755 {
  position:absolute;
  left:10px;
  top:10px;
  width:1080px;
  height:35px;
}
#u5756 {
  position:absolute;
  left:2px;
  top:10px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5757 {
  position:absolute;
  left:55px;
  top:10px;
  width:110px;
  height:35px;
}
#u5758 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u5759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u5759 {
  position:absolute;
  left:10px;
  top:10px;
  width:35px;
  height:35px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u5760 {
  position:absolute;
  left:0px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
#u5761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u5761 {
  position:absolute;
  left:1055px;
  top:10px;
  width:35px;
  height:35px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u5762 {
  position:absolute;
  left:0px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
#u5763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5763 {
  position:absolute;
  left:40px;
  top:207px;
  width:57px;
  height:16px;
  color:#999999;
}
#u5764 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5765 {
  position:absolute;
  left:139px;
  top:207px;
  width:211px;
  height:16px;
}
#u5766 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
