body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1090px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6613_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:356px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6613 {
  position:absolute;
  left:30px;
  top:254px;
  width:1040px;
  height:356px;
}
#u6614 {
  position:absolute;
  left:2px;
  top:170px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6615_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:174px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6615 {
  position:absolute;
  left:30px;
  top:70px;
  width:1040px;
  height:174px;
}
#u6616 {
  position:absolute;
  left:2px;
  top:79px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6617 {
  position:absolute;
  left:40px;
  top:80px;
  width:20px;
  height:20px;
}
#u6618 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6619 {
  position:absolute;
  left:70px;
  top:81px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u6620 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u6621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6621 {
  position:absolute;
  left:40px;
  top:120px;
  width:57px;
  height:16px;
  color:#999999;
}
#u6622 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6623 {
  position:absolute;
  left:139px;
  top:120px;
  width:29px;
  height:16px;
}
#u6624 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6625 {
  position:absolute;
  left:282px;
  top:172px;
  width:71px;
  height:16px;
  color:#999999;
}
#u6626 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u6627 {
  position:absolute;
  left:381px;
  top:172px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u6628 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6629 {
  position:absolute;
  left:40px;
  top:172px;
  width:57px;
  height:16px;
  color:#999999;
}
#u6630 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6631 {
  position:absolute;
  left:139px;
  top:172px;
  width:89px;
  height:16px;
}
#u6632 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u6633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6633 {
  position:absolute;
  left:40px;
  top:146px;
  width:29px;
  height:16px;
  color:#999999;
}
#u6634 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6635 {
  position:absolute;
  left:139px;
  top:146px;
  width:29px;
  height:16px;
}
#u6636 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6637 {
  position:absolute;
  left:282px;
  top:120px;
  width:71px;
  height:16px;
  color:#999999;
}
#u6638 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u6639 {
  position:absolute;
  left:381px;
  top:120px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u6640 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6641 {
  position:absolute;
  left:282px;
  top:146px;
  width:57px;
  height:16px;
  color:#999999;
}
#u6642 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u6643 {
  position:absolute;
  left:381px;
  top:146px;
  width:101px;
  height:16px;
  font-size:13px;
}
#u6644 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u6645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6645 {
  position:absolute;
  left:541px;
  top:172px;
  width:57px;
  height:16px;
  color:#999999;
}
#u6646 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u6647 {
  position:absolute;
  left:640px;
  top:172px;
  width:209px;
  height:16px;
  font-size:13px;
}
#u6648 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u6649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6649 {
  position:absolute;
  left:541px;
  top:146px;
  width:57px;
  height:16px;
  color:#999999;
}
#u6650 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6651 {
  position:absolute;
  left:640px;
  top:146px;
  width:43px;
  height:16px;
}
#u6652 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6653 {
  position:absolute;
  left:541px;
  top:120px;
  width:43px;
  height:16px;
  color:#999999;
}
#u6654 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6655 {
  position:absolute;
  left:640px;
  top:120px;
  width:29px;
  height:16px;
}
#u6656 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6657 {
  position:absolute;
  left:40px;
  top:270px;
  width:20px;
  height:20px;
}
#u6658 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6659 {
  position:absolute;
  left:70px;
  top:271px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u6660 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 51, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 102, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6661 {
  position:absolute;
  left:40px;
  top:520px;
  width:128px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6661_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 51, 51, 0.627450980392157);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 102, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6661.mouseOver {
}
#u6662 {
  position:absolute;
  left:2px;
  top:5px;
  width:124px;
  word-wrap:break-word;
}
#u6661_ann {
  position:absolute;
  left:161px;
  top:516px;
  width:1px;
  height:1px;
}
#u6663 {
  position:absolute;
  left:40px;
  top:320px;
  width:999px;
  height:125px;
}
#u6664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u6664 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u6665 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u6666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u6666 {
  position:absolute;
  left:199px;
  top:0px;
  width:199px;
  height:30px;
}
#u6667 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u6668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u6668 {
  position:absolute;
  left:398px;
  top:0px;
  width:199px;
  height:30px;
}
#u6669 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u6670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:30px;
}
#u6670 {
  position:absolute;
  left:597px;
  top:0px;
  width:198px;
  height:30px;
}
#u6671 {
  position:absolute;
  left:2px;
  top:7px;
  width:194px;
  word-wrap:break-word;
}
#u6672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u6672 {
  position:absolute;
  left:795px;
  top:0px;
  width:199px;
  height:30px;
}
#u6673 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u6674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u6674 {
  position:absolute;
  left:0px;
  top:30px;
  width:199px;
  height:30px;
}
#u6675 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u6676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u6676 {
  position:absolute;
  left:199px;
  top:30px;
  width:199px;
  height:30px;
}
#u6677 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u6678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u6678 {
  position:absolute;
  left:398px;
  top:30px;
  width:199px;
  height:30px;
}
#u6679 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u6680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:30px;
}
#u6680 {
  position:absolute;
  left:597px;
  top:30px;
  width:198px;
  height:30px;
}
#u6681 {
  position:absolute;
  left:2px;
  top:7px;
  width:194px;
  word-wrap:break-word;
}
#u6682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u6682 {
  position:absolute;
  left:795px;
  top:30px;
  width:199px;
  height:30px;
}
#u6683 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u6684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u6684 {
  position:absolute;
  left:0px;
  top:60px;
  width:199px;
  height:30px;
}
#u6685 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u6686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u6686 {
  position:absolute;
  left:199px;
  top:60px;
  width:199px;
  height:30px;
}
#u6687 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u6688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u6688 {
  position:absolute;
  left:398px;
  top:60px;
  width:199px;
  height:30px;
}
#u6689 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u6690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:30px;
}
#u6690 {
  position:absolute;
  left:597px;
  top:60px;
  width:198px;
  height:30px;
}
#u6691 {
  position:absolute;
  left:2px;
  top:7px;
  width:194px;
  word-wrap:break-word;
}
#u6692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u6692 {
  position:absolute;
  left:795px;
  top:60px;
  width:199px;
  height:30px;
}
#u6693 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u6694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u6694 {
  position:absolute;
  left:0px;
  top:90px;
  width:199px;
  height:30px;
}
#u6695 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u6696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u6696 {
  position:absolute;
  left:199px;
  top:90px;
  width:199px;
  height:30px;
}
#u6697 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u6698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u6698 {
  position:absolute;
  left:398px;
  top:90px;
  width:199px;
  height:30px;
}
#u6699 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u6700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:30px;
}
#u6700 {
  position:absolute;
  left:597px;
  top:90px;
  width:198px;
  height:30px;
}
#u6701 {
  position:absolute;
  left:2px;
  top:7px;
  width:194px;
  word-wrap:break-word;
}
#u6702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u6702 {
  position:absolute;
  left:795px;
  top:90px;
  width:199px;
  height:30px;
}
#u6703 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u6704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6704 {
  position:absolute;
  left:970px;
  top:78px;
  width:64px;
  height:25px;
  color:#FFFFFF;
}
#u6704_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6704.mouseOver {
}
#u6704_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6704.mouseDown {
}
#u6705 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u6706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6706 {
  position:absolute;
  left:10px;
  top:10px;
  width:1080px;
  height:35px;
}
#u6707 {
  position:absolute;
  left:2px;
  top:10px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6708 {
  position:absolute;
  left:55px;
  top:10px;
  width:110px;
  height:35px;
}
#u6709 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u6710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u6710 {
  position:absolute;
  left:10px;
  top:10px;
  width:35px;
  height:35px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u6711 {
  position:absolute;
  left:0px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
#u6712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u6712 {
  position:absolute;
  left:1055px;
  top:10px;
  width:35px;
  height:35px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u6713 {
  position:absolute;
  left:0px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
#u6714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6714 {
  position:absolute;
  left:40px;
  top:207px;
  width:57px;
  height:16px;
  color:#999999;
}
#u6715 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6716 {
  position:absolute;
  left:139px;
  top:207px;
  width:211px;
  height:16px;
}
#u6717 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
