body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:510px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:330px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7064 {
  position:absolute;
  left:20px;
  top:70px;
  width:490px;
  height:330px;
}
#u7065 {
  position:absolute;
  left:2px;
  top:157px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:50px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7066 {
  position:absolute;
  left:20px;
  top:20px;
  width:490px;
  height:50px;
}
#u7067 {
  position:absolute;
  left:2px;
  top:17px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7068 {
  position:absolute;
  left:480px;
  top:37px;
  width:20px;
  height:16px;
}
#u7069 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u7070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7070 {
  position:absolute;
  left:34px;
  top:36px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u7071 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u7072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7072 {
  position:absolute;
  left:257px;
  top:296px;
  width:78px;
  height:30px;
  color:#FFFFFF;
}
#u7072_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7072.mouseOver {
}
#u7072_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7072.mouseDown {
}
#u7073 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u7074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7074 {
  position:absolute;
  left:370px;
  top:296px;
  width:70px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7074_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7074.mouseOver {
}
#u7074_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7074.selected {
}
#u7075 {
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u7076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7076 {
  position:absolute;
  left:34px;
  top:113px;
  width:57px;
  height:16px;
}
#u7077 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7078 {
  position:absolute;
  left:121px;
  top:107px;
  width:180px;
  height:28px;
}
#u7079 {
  position:absolute;
  left:2px;
  top:6px;
  width:176px;
  word-wrap:break-word;
}
#u7078_ann {
  position:absolute;
  left:294px;
  top:103px;
  width:1px;
  height:1px;
}
#u7080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7080 {
  position:absolute;
  left:34px;
  top:198px;
  width:57px;
  height:16px;
}
#u7081 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7082 {
  position:absolute;
  left:121px;
  top:192px;
  width:180px;
  height:28px;
}
#u7083 {
  position:absolute;
  left:2px;
  top:6px;
  width:176px;
  word-wrap:break-word;
}
#u7084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7084 {
  position:absolute;
  left:121px;
  top:145px;
  width:300px;
  height:16px;
}
#u7085 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
