body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:679px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  height:370px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6148 {
  position:absolute;
  left:10px;
  top:60px;
  width:669px;
  height:370px;
}
#u6149 {
  position:absolute;
  left:2px;
  top:177px;
  width:665px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6150 {
  position:absolute;
  left:25px;
  top:96px;
  width:70px;
  height:16px;
}
#u6151 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u6152 {
  position:absolute;
  left:120px;
  top:91px;
  width:190px;
  height:25px;
}
#u6152_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
}
#u6153 {
  position:absolute;
  left:322px;
  top:95px;
  width:6px;
  height:16px;
  color:#CC0000;
}
#u6154 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u6155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6155 {
  position:absolute;
  left:361px;
  top:95px;
  width:71px;
  height:16px;
}
#u6156 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6157 {
  position:absolute;
  left:451px;
  top:91px;
  width:190px;
  height:25px;
}
#u6157_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
}
#u6158 {
  position:absolute;
  left:651px;
  top:95px;
  width:6px;
  height:16px;
  color:#CC0000;
}
#u6159 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u6160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6160 {
  position:absolute;
  left:458px;
  top:380px;
  width:78px;
  height:30px;
  color:#FFFFFF;
}
#u6160_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6160.mouseOver {
}
#u6160_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6160.mouseDown {
}
#u6161 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u6162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6162 {
  position:absolute;
  left:571px;
  top:380px;
  width:70px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6162_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6162.mouseOver {
}
#u6162_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6162.selected {
}
#u6163 {
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u6164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  height:50px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6164 {
  position:absolute;
  left:10px;
  top:10px;
  width:669px;
  height:50px;
}
#u6165 {
  position:absolute;
  left:2px;
  top:17px;
  width:665px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6166 {
  position:absolute;
  left:639px;
  top:27px;
  width:20px;
  height:16px;
}
#u6167 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u6168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6168 {
  position:absolute;
  left:24px;
  top:26px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u6169 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6170 {
  position:absolute;
  left:24px;
  top:142px;
  width:71px;
  height:16px;
}
#u6171 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6172 {
  position:absolute;
  left:120px;
  top:136px;
  width:190px;
  height:22px;
}
#u6172_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6172_input:disabled {
  color:grayText;
}
#u6173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6173 {
  position:absolute;
  left:24px;
  top:231px;
  width:71px;
  height:16px;
}
#u6174 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6175 {
  position:absolute;
  left:120px;
  top:228px;
  width:190px;
  height:22px;
}
#u6175_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6175_input:disabled {
  color:grayText;
}
#u6176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6176 {
  position:absolute;
  left:361px;
  top:183px;
  width:71px;
  height:16px;
}
#u6177 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6178 {
  position:absolute;
  left:451px;
  top:176px;
  width:190px;
  height:25px;
}
#u6178_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6179 {
  position:absolute;
  left:361px;
  top:136px;
  width:71px;
  height:16px;
}
#u6180 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6181 {
  position:absolute;
  left:451px;
  top:130px;
  width:190px;
  height:22px;
}
#u6181_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6181_input:disabled {
  color:grayText;
}
#u6182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6182 {
  position:absolute;
  left:361px;
  top:230px;
  width:43px;
  height:16px;
}
#u6183 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6184 {
  position:absolute;
  left:451px;
  top:221px;
  width:99px;
  height:25px;
}
#u6184_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6185 {
  position:absolute;
  left:24px;
  top:183px;
  width:71px;
  height:16px;
}
#u6186 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6187 {
  position:absolute;
  left:120px;
  top:183px;
  width:59px;
  height:16px;
}
#u6188 {
  position:absolute;
  left:16px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u6187_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6189 {
  position:absolute;
  left:206px;
  top:183px;
  width:59px;
  height:16px;
}
#u6190 {
  position:absolute;
  left:16px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u6189_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u6191 {
  position:absolute;
  left:560px;
  top:226px;
  width:94px;
  height:16px;
  font-size:14px;
}
#u6192 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u6191_ann {
  position:absolute;
  left:647px;
  top:222px;
  width:1px;
  height:1px;
}
