body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:679px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  height:370px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5287 {
  position:absolute;
  left:10px;
  top:60px;
  width:669px;
  height:370px;
}
#u5288 {
  position:absolute;
  left:2px;
  top:177px;
  width:665px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5289 {
  position:absolute;
  left:25px;
  top:96px;
  width:70px;
  height:16px;
}
#u5290 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u5291 {
  position:absolute;
  left:120px;
  top:91px;
  width:190px;
  height:25px;
}
#u5291_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
}
#u5292 {
  position:absolute;
  left:322px;
  top:95px;
  width:6px;
  height:16px;
  color:#CC0000;
}
#u5293 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u5294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5294 {
  position:absolute;
  left:361px;
  top:95px;
  width:71px;
  height:16px;
}
#u5295 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5296 {
  position:absolute;
  left:451px;
  top:91px;
  width:190px;
  height:25px;
}
#u5296_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
}
#u5297 {
  position:absolute;
  left:651px;
  top:95px;
  width:6px;
  height:16px;
  color:#CC0000;
}
#u5298 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u5299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5299 {
  position:absolute;
  left:458px;
  top:380px;
  width:78px;
  height:30px;
  color:#FFFFFF;
}
#u5299_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5299.mouseOver {
}
#u5299_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5299.mouseDown {
}
#u5300 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u5301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5301 {
  position:absolute;
  left:571px;
  top:380px;
  width:70px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5301_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5301.mouseOver {
}
#u5301_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5301.selected {
}
#u5302 {
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u5303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  height:50px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5303 {
  position:absolute;
  left:10px;
  top:10px;
  width:669px;
  height:50px;
}
#u5304 {
  position:absolute;
  left:2px;
  top:17px;
  width:665px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5305 {
  position:absolute;
  left:639px;
  top:27px;
  width:20px;
  height:16px;
}
#u5306 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u5307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5307 {
  position:absolute;
  left:24px;
  top:26px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u5308 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5309 {
  position:absolute;
  left:24px;
  top:142px;
  width:71px;
  height:16px;
}
#u5310 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5311 {
  position:absolute;
  left:120px;
  top:136px;
  width:190px;
  height:22px;
}
#u5311_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5311_input:disabled {
  color:grayText;
}
#u5312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5312 {
  position:absolute;
  left:361px;
  top:183px;
  width:71px;
  height:16px;
}
#u5313 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5314 {
  position:absolute;
  left:451px;
  top:176px;
  width:190px;
  height:25px;
}
#u5314_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5315 {
  position:absolute;
  left:361px;
  top:136px;
  width:71px;
  height:16px;
}
#u5316 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5317 {
  position:absolute;
  left:451px;
  top:130px;
  width:190px;
  height:22px;
}
#u5317_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5317_input:disabled {
  color:grayText;
}
#u5318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5318 {
  position:absolute;
  left:24px;
  top:183px;
  width:71px;
  height:16px;
}
#u5319 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5320 {
  position:absolute;
  left:120px;
  top:183px;
  width:59px;
  height:16px;
}
#u5321 {
  position:absolute;
  left:16px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u5320_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5322 {
  position:absolute;
  left:206px;
  top:183px;
  width:59px;
  height:16px;
}
#u5323 {
  position:absolute;
  left:16px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u5322_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5324 {
  position:absolute;
  left:24px;
  top:291px;
  width:65px;
  height:16px;
}
#u5325 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5326 {
  position:absolute;
  left:120px;
  top:288px;
  width:190px;
  height:22px;
}
#u5326_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5326_input:disabled {
  color:grayText;
}
#u5326_ann {
  position:absolute;
  left:303px;
  top:284px;
  width:1px;
  height:1px;
}
#u5327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5327 {
  position:absolute;
  left:361px;
  top:290px;
  width:43px;
  height:16px;
}
#u5328 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5329 {
  position:absolute;
  left:412px;
  top:283px;
  width:99px;
  height:25px;
}
#u5329_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u5330 {
  position:absolute;
  left:521px;
  top:288px;
  width:94px;
  height:16px;
  font-size:14px;
}
#u5331 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u5330_ann {
  position:absolute;
  left:608px;
  top:284px;
  width:1px;
  height:1px;
}
#u5332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u5332 {
  position:absolute;
  left:24px;
  top:240px;
  width:150px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u5332_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u5332.mouseDown {
}
#u5333 {
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  word-wrap:break-word;
}
#u5334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5334 {
  position:absolute;
  left:24px;
  top:325px;
  width:65px;
  height:16px;
}
#u5335 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5336 {
  position:absolute;
  left:120px;
  top:322px;
  width:190px;
  height:22px;
}
#u5336_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5336_input:disabled {
  color:grayText;
}
#u5336_ann {
  position:absolute;
  left:303px;
  top:318px;
  width:1px;
  height:1px;
}
#u5337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5337 {
  position:absolute;
  left:361px;
  top:324px;
  width:43px;
  height:16px;
}
#u5338 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5339 {
  position:absolute;
  left:412px;
  top:317px;
  width:99px;
  height:25px;
}
#u5339_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u5340 {
  position:absolute;
  left:521px;
  top:322px;
  width:94px;
  height:16px;
  font-size:14px;
}
#u5341 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u5340_ann {
  position:absolute;
  left:608px;
  top:318px;
  width:1px;
  height:1px;
}
#u5342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u5342 {
  position:absolute;
  left:635px;
  top:319px;
  width:22px;
  height:22px;
  font-size:11px;
  color:#FFFFFF;
}
#u5343 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
