body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:456px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6965 {
  position:absolute;
  left:20px;
  top:244px;
  width:1050px;
  height:456px;
}
#u6966 {
  position:absolute;
  left:2px;
  top:220px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6967 {
  position:absolute;
  left:20px;
  top:60px;
  width:1050px;
  height:160px;
}
#u6968 {
  position:absolute;
  left:2px;
  top:72px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6969 {
  position:absolute;
  left:30px;
  top:70px;
  width:20px;
  height:20px;
}
#u6970 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6971 {
  position:absolute;
  left:60px;
  top:71px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u6972 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6973 {
  position:absolute;
  left:30px;
  top:110px;
  width:57px;
  height:16px;
  color:#999999;
}
#u6974 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6975 {
  position:absolute;
  left:129px;
  top:110px;
  width:29px;
  height:16px;
}
#u6976 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6977 {
  position:absolute;
  left:272px;
  top:162px;
  width:71px;
  height:16px;
  color:#999999;
}
#u6978 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u6979 {
  position:absolute;
  left:371px;
  top:162px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u6980 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6981 {
  position:absolute;
  left:30px;
  top:162px;
  width:57px;
  height:16px;
  color:#999999;
}
#u6982 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6983 {
  position:absolute;
  left:129px;
  top:162px;
  width:89px;
  height:16px;
}
#u6984 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u6985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6985 {
  position:absolute;
  left:30px;
  top:136px;
  width:29px;
  height:16px;
  color:#999999;
}
#u6986 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6987 {
  position:absolute;
  left:129px;
  top:136px;
  width:29px;
  height:16px;
}
#u6988 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6989 {
  position:absolute;
  left:272px;
  top:110px;
  width:57px;
  height:16px;
  color:#999999;
}
#u6990 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6991 {
  position:absolute;
  left:371px;
  top:110px;
  width:9px;
  height:16px;
}
#u6992 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u6993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6993 {
  position:absolute;
  left:272px;
  top:136px;
  width:57px;
  height:16px;
  color:#999999;
}
#u6994 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6995 {
  position:absolute;
  left:371px;
  top:136px;
  width:43px;
  height:16px;
}
#u6996 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6997 {
  position:absolute;
  left:531px;
  top:162px;
  width:85px;
  height:16px;
  color:#999999;
}
#u6998 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6999 {
  position:absolute;
  left:630px;
  top:162px;
  width:140px;
  height:16px;
}
#u7000 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u7001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7001 {
  position:absolute;
  left:531px;
  top:136px;
  width:85px;
  height:16px;
  color:#999999;
}
#u7002 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u7003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7003 {
  position:absolute;
  left:630px;
  top:136px;
  width:80px;
  height:16px;
}
#u7004 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u7005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7005 {
  position:absolute;
  left:531px;
  top:110px;
  width:57px;
  height:16px;
  color:#999999;
}
#u7006 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7007 {
  position:absolute;
  left:630px;
  top:110px;
  width:57px;
  height:16px;
}
#u7008 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:972px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7009 {
  position:absolute;
  left:38px;
  top:404px;
  width:972px;
  height:85px;
}
#u7010 {
  position:absolute;
  left:2px;
  top:34px;
  width:968px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7011 {
  position:absolute;
  left:38px;
  top:285px;
  width:780px;
  height:70px;
}
#u7011_input {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:70px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7011_ann {
  position:absolute;
  left:811px;
  top:281px;
  width:1px;
  height:1px;
}
#u7012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7012 {
  position:absolute;
  left:55px;
  top:425px;
  width:40px;
  height:40px;
}
#u7013 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7014 {
  position:absolute;
  left:105px;
  top:425px;
  width:155px;
  height:16px;
}
#u7015 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u7016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u7016 {
  position:absolute;
  left:105px;
  top:451px;
  width:187px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u7017 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u7018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7018 {
  position:absolute;
  left:276px;
  top:425px;
  width:115px;
  height:16px;
  color:#999999;
}
#u7019 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u7020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:972px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7020 {
  position:absolute;
  left:38px;
  top:504px;
  width:972px;
  height:95px;
}
#u7021 {
  position:absolute;
  left:2px;
  top:40px;
  width:968px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7022 {
  position:absolute;
  left:55px;
  top:525px;
  width:40px;
  height:40px;
}
#u7023 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7024 {
  position:absolute;
  left:105px;
  top:525px;
  width:155px;
  height:16px;
}
#u7025 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u7026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7026 {
  position:absolute;
  left:276px;
  top:525px;
  width:115px;
  height:16px;
  color:#999999;
}
#u7027 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u7028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u7028 {
  position:absolute;
  left:105px;
  top:551px;
  width:803px;
  height:32px;
  color:#666666;
}
#u7029 {
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  word-wrap:break-word;
}
#u7030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7030 {
  position:absolute;
  left:858px;
  top:306px;
  width:80px;
  height:28px;
  color:#FFFFFF;
}
#u7030_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7030.mouseOver {
}
#u7030_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7030.mouseDown {
}
#u7031 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u7032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7032 {
  position:absolute;
  left:999px;
  top:71px;
  width:46px;
  height:16px;
}
#u7033 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u7034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7034 {
  position:absolute;
  left:936px;
  top:97px;
  width:121px;
  height:73px;
}
#u7035 {
  position:absolute;
  left:2px;
  top:28px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7036 {
  position:absolute;
  left:987px;
  top:109px;
  width:29px;
  height:16px;
}
#u7037 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7036_ann {
  position:absolute;
  left:1009px;
  top:105px;
  width:1px;
  height:1px;
}
#u7038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7038 {
  position:absolute;
  left:954px;
  top:107px;
  width:20px;
  height:20px;
}
#u7039 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7040 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:35px;
}
#u7041 {
  position:absolute;
  left:2px;
  top:10px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7042 {
  position:absolute;
  left:35px;
  top:0px;
  width:110px;
  height:35px;
}
#u7043 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u7044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u7044 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u7045 {
  position:absolute;
  left:0px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
#u7046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u7046 {
  position:absolute;
  left:1045px;
  top:0px;
  width:35px;
  height:35px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u7047 {
  position:absolute;
  left:0px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
#u7048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7048 {
  position:absolute;
  left:865px;
  top:70px;
  width:64px;
  height:25px;
  color:#FFFFFF;
}
#u7048_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7048.mouseOver {
}
#u7048_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7048.mouseDown {
}
#u7049 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u7050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7050 {
  position:absolute;
  left:987px;
  top:139px;
  width:57px;
  height:16px;
}
#u7051 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7050_ann {
  position:absolute;
  left:1037px;
  top:135px;
  width:1px;
  height:1px;
}
#u7052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7052 {
  position:absolute;
  left:954px;
  top:137px;
  width:20px;
  height:20px;
}
#u7053 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
