body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:456px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6127 {
  position:absolute;
  left:20px;
  top:244px;
  width:1050px;
  height:456px;
}
#u6128 {
  position:absolute;
  left:2px;
  top:220px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6129 {
  position:absolute;
  left:20px;
  top:60px;
  width:1050px;
  height:160px;
}
#u6130 {
  position:absolute;
  left:2px;
  top:72px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6131 {
  position:absolute;
  left:30px;
  top:70px;
  width:20px;
  height:20px;
}
#u6132 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6133 {
  position:absolute;
  left:60px;
  top:71px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u6134 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6135 {
  position:absolute;
  left:30px;
  top:110px;
  width:57px;
  height:16px;
  color:#999999;
}
#u6136 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6137 {
  position:absolute;
  left:129px;
  top:110px;
  width:29px;
  height:16px;
}
#u6138 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6139 {
  position:absolute;
  left:272px;
  top:162px;
  width:57px;
  height:16px;
  color:#999999;
}
#u6140 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6141 {
  position:absolute;
  left:371px;
  top:162px;
  width:84px;
  height:16px;
}
#u6142 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u6143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6143 {
  position:absolute;
  left:30px;
  top:162px;
  width:57px;
  height:16px;
  color:#999999;
}
#u6144 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6145 {
  position:absolute;
  left:129px;
  top:162px;
  width:89px;
  height:16px;
}
#u6146 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u6147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6147 {
  position:absolute;
  left:30px;
  top:136px;
  width:29px;
  height:16px;
  color:#999999;
}
#u6148 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6149 {
  position:absolute;
  left:129px;
  top:136px;
  width:29px;
  height:16px;
}
#u6150 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6151 {
  position:absolute;
  left:272px;
  top:110px;
  width:57px;
  height:16px;
  color:#999999;
}
#u6152 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6153 {
  position:absolute;
  left:371px;
  top:110px;
  width:9px;
  height:16px;
}
#u6154 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u6155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6155 {
  position:absolute;
  left:272px;
  top:136px;
  width:57px;
  height:16px;
  color:#999999;
}
#u6156 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6157 {
  position:absolute;
  left:371px;
  top:136px;
  width:43px;
  height:16px;
}
#u6158 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6159 {
  position:absolute;
  left:531px;
  top:136px;
  width:57px;
  height:16px;
  color:#999999;
}
#u6160 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6161 {
  position:absolute;
  left:630px;
  top:136px;
  width:115px;
  height:16px;
}
#u6162 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u6163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6163 {
  position:absolute;
  left:531px;
  top:110px;
  width:57px;
  height:16px;
  color:#999999;
}
#u6164 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6165 {
  position:absolute;
  left:630px;
  top:110px;
  width:57px;
  height:16px;
}
#u6166 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:972px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6167 {
  position:absolute;
  left:38px;
  top:404px;
  width:972px;
  height:85px;
}
#u6168 {
  position:absolute;
  left:2px;
  top:34px;
  width:968px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6169 {
  position:absolute;
  left:38px;
  top:285px;
  width:780px;
  height:70px;
}
#u6169_input {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:70px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6169_ann {
  position:absolute;
  left:811px;
  top:281px;
  width:1px;
  height:1px;
}
#u6170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u6170 {
  position:absolute;
  left:55px;
  top:425px;
  width:40px;
  height:40px;
}
#u6171 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6172 {
  position:absolute;
  left:105px;
  top:425px;
  width:155px;
  height:16px;
}
#u6173 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u6174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u6174 {
  position:absolute;
  left:105px;
  top:451px;
  width:187px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u6175 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u6176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6176 {
  position:absolute;
  left:276px;
  top:425px;
  width:115px;
  height:16px;
  color:#999999;
}
#u6177 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u6178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:972px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6178 {
  position:absolute;
  left:38px;
  top:504px;
  width:972px;
  height:95px;
}
#u6179 {
  position:absolute;
  left:2px;
  top:40px;
  width:968px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u6180 {
  position:absolute;
  left:55px;
  top:525px;
  width:40px;
  height:40px;
}
#u6181 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6182 {
  position:absolute;
  left:105px;
  top:525px;
  width:155px;
  height:16px;
}
#u6183 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u6184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6184 {
  position:absolute;
  left:276px;
  top:525px;
  width:115px;
  height:16px;
  color:#999999;
}
#u6185 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u6186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6186 {
  position:absolute;
  left:105px;
  top:551px;
  width:803px;
  height:32px;
  color:#666666;
}
#u6187 {
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  word-wrap:break-word;
}
#u6188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6188 {
  position:absolute;
  left:858px;
  top:306px;
  width:80px;
  height:28px;
  color:#FFFFFF;
}
#u6188_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6188.mouseOver {
}
#u6188_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6188.mouseDown {
}
#u6189 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u6190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6190 {
  position:absolute;
  left:999px;
  top:71px;
  width:46px;
  height:16px;
}
#u6191 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u6190_ann {
  position:absolute;
  left:1038px;
  top:67px;
  width:1px;
  height:1px;
}
#u6192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6192 {
  position:absolute;
  left:936px;
  top:97px;
  width:121px;
  height:93px;
}
#u6193 {
  position:absolute;
  left:2px;
  top:38px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6194 {
  position:absolute;
  left:985px;
  top:138px;
  width:57px;
  height:16px;
}
#u6195 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6196 {
  position:absolute;
  left:952px;
  top:136px;
  width:20px;
  height:20px;
}
#u6197 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6198 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:35px;
}
#u6199 {
  position:absolute;
  left:2px;
  top:10px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6200 {
  position:absolute;
  left:35px;
  top:0px;
  width:110px;
  height:35px;
}
#u6201 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u6202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u6202 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u6203 {
  position:absolute;
  left:0px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
#u6204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u6204 {
  position:absolute;
  left:1045px;
  top:0px;
  width:35px;
  height:35px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u6205 {
  position:absolute;
  left:0px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
#u6206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6206 {
  position:absolute;
  left:985px;
  top:108px;
  width:57px;
  height:16px;
}
#u6207 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6208 {
  position:absolute;
  left:952px;
  top:106px;
  width:20px;
  height:20px;
}
#u6209 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6210 {
  position:absolute;
  left:985px;
  top:166px;
  width:57px;
  height:16px;
}
#u6211 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6212 {
  position:absolute;
  left:952px;
  top:164px;
  width:20px;
  height:20px;
}
#u6213 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
