body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:456px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7152 {
  position:absolute;
  left:20px;
  top:244px;
  width:930px;
  height:456px;
}
#u7153 {
  position:absolute;
  left:2px;
  top:220px;
  width:926px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7154 {
  position:absolute;
  left:20px;
  top:60px;
  width:930px;
  height:160px;
}
#u7155 {
  position:absolute;
  left:2px;
  top:72px;
  width:926px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7156 {
  position:absolute;
  left:30px;
  top:70px;
  width:20px;
  height:20px;
}
#u7157 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7158 {
  position:absolute;
  left:60px;
  top:71px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u7159 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7160 {
  position:absolute;
  left:30px;
  top:110px;
  width:57px;
  height:16px;
  color:#999999;
}
#u7161 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7162 {
  position:absolute;
  left:129px;
  top:110px;
  width:29px;
  height:16px;
}
#u7163 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7164 {
  position:absolute;
  left:272px;
  top:162px;
  width:71px;
  height:16px;
  color:#999999;
}
#u7165 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u7166 {
  position:absolute;
  left:371px;
  top:162px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u7167 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7168 {
  position:absolute;
  left:30px;
  top:162px;
  width:57px;
  height:16px;
  color:#999999;
}
#u7169 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7170 {
  position:absolute;
  left:129px;
  top:162px;
  width:89px;
  height:16px;
}
#u7171 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u7172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7172 {
  position:absolute;
  left:30px;
  top:136px;
  width:29px;
  height:16px;
  color:#999999;
}
#u7173 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7174 {
  position:absolute;
  left:129px;
  top:136px;
  width:29px;
  height:16px;
}
#u7175 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7176 {
  position:absolute;
  left:272px;
  top:110px;
  width:71px;
  height:16px;
  color:#999999;
}
#u7177 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u7178 {
  position:absolute;
  left:371px;
  top:110px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u7179 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7180 {
  position:absolute;
  left:272px;
  top:136px;
  width:57px;
  height:16px;
  color:#999999;
}
#u7181 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u7182 {
  position:absolute;
  left:371px;
  top:136px;
  width:101px;
  height:16px;
  font-size:13px;
}
#u7183 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u7184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7184 {
  position:absolute;
  left:531px;
  top:162px;
  width:57px;
  height:16px;
  color:#999999;
}
#u7185 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u7186 {
  position:absolute;
  left:630px;
  top:162px;
  width:209px;
  height:16px;
  font-size:13px;
}
#u7187 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u7188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7188 {
  position:absolute;
  left:531px;
  top:136px;
  width:57px;
  height:16px;
  color:#999999;
}
#u7189 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7190 {
  position:absolute;
  left:630px;
  top:136px;
  width:43px;
  height:16px;
}
#u7191 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7192 {
  position:absolute;
  left:531px;
  top:110px;
  width:43px;
  height:16px;
  color:#999999;
}
#u7193 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7194 {
  position:absolute;
  left:630px;
  top:110px;
  width:29px;
  height:16px;
}
#u7195 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7196 {
  position:absolute;
  left:30px;
  top:260px;
  width:20px;
  height:20px;
}
#u7197 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7198 {
  position:absolute;
  left:60px;
  top:261px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u7199 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7200 {
  position:absolute;
  left:30px;
  top:310px;
  width:855px;
  height:125px;
}
#u7201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7201 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7202 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7203 {
  position:absolute;
  left:170px;
  top:0px;
  width:170px;
  height:30px;
}
#u7204 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7205 {
  position:absolute;
  left:340px;
  top:0px;
  width:170px;
  height:30px;
}
#u7206 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7207 {
  position:absolute;
  left:510px;
  top:0px;
  width:170px;
  height:30px;
}
#u7208 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7209 {
  position:absolute;
  left:680px;
  top:0px;
  width:170px;
  height:30px;
}
#u7210 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7211 {
  position:absolute;
  left:0px;
  top:30px;
  width:170px;
  height:30px;
}
#u7212 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7213 {
  position:absolute;
  left:170px;
  top:30px;
  width:170px;
  height:30px;
}
#u7214 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7215 {
  position:absolute;
  left:340px;
  top:30px;
  width:170px;
  height:30px;
}
#u7216 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7217 {
  position:absolute;
  left:510px;
  top:30px;
  width:170px;
  height:30px;
}
#u7218 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7219 {
  position:absolute;
  left:680px;
  top:30px;
  width:170px;
  height:30px;
}
#u7220 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7221 {
  position:absolute;
  left:0px;
  top:60px;
  width:170px;
  height:30px;
}
#u7222 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7223 {
  position:absolute;
  left:170px;
  top:60px;
  width:170px;
  height:30px;
}
#u7224 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7225 {
  position:absolute;
  left:340px;
  top:60px;
  width:170px;
  height:30px;
}
#u7226 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7227 {
  position:absolute;
  left:510px;
  top:60px;
  width:170px;
  height:30px;
}
#u7228 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7229 {
  position:absolute;
  left:680px;
  top:60px;
  width:170px;
  height:30px;
}
#u7230 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7231 {
  position:absolute;
  left:0px;
  top:90px;
  width:170px;
  height:30px;
}
#u7232 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7233 {
  position:absolute;
  left:170px;
  top:90px;
  width:170px;
  height:30px;
}
#u7234 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7235 {
  position:absolute;
  left:340px;
  top:90px;
  width:170px;
  height:30px;
}
#u7236 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7237 {
  position:absolute;
  left:510px;
  top:90px;
  width:170px;
  height:30px;
}
#u7238 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7239 {
  position:absolute;
  left:680px;
  top:90px;
  width:170px;
  height:30px;
}
#u7240 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7241 {
  position:absolute;
  left:870px;
  top:71px;
  width:64px;
  height:25px;
  color:#FFFFFF;
}
#u7241_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7241.mouseOver {
}
#u7241_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7241.mouseDown {
}
#u7242 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u7243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7243 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:35px;
}
#u7244 {
  position:absolute;
  left:2px;
  top:10px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7245 {
  position:absolute;
  left:35px;
  top:0px;
  width:110px;
  height:35px;
}
#u7246 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u7247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u7247 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u7248 {
  position:absolute;
  left:0px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
#u7249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u7249 {
  position:absolute;
  left:1045px;
  top:0px;
  width:35px;
  height:35px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u7250 {
  position:absolute;
  left:0px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
