body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6952 {
  position:absolute;
  left:20px;
  top:200px;
  width:1025px;
  height:167px;
}
#u6953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:36px;
}
#u6953 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:36px;
}
#u6954 {
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
}
#u6955 {
  position:absolute;
  left:78px;
  top:0px;
  width:99px;
  height:36px;
}
#u6956 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u6955_ann {
  position:absolute;
  left:163px;
  top:0px;
  width:1px;
  height:1px;
}
#u6957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:36px;
}
#u6957 {
  position:absolute;
  left:177px;
  top:0px;
  width:151px;
  height:36px;
}
#u6958 {
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u6959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u6959 {
  position:absolute;
  left:328px;
  top:0px;
  width:135px;
  height:36px;
}
#u6960 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u6961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:36px;
}
#u6961 {
  position:absolute;
  left:463px;
  top:0px;
  width:113px;
  height:36px;
}
#u6962 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u6963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u6963 {
  position:absolute;
  left:576px;
  top:0px;
  width:112px;
  height:36px;
}
#u6964 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u6965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:36px;
}
#u6965 {
  position:absolute;
  left:688px;
  top:0px;
  width:110px;
  height:36px;
}
#u6966 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u6967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:36px;
}
#u6967 {
  position:absolute;
  left:798px;
  top:0px;
  width:110px;
  height:36px;
}
#u6968 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u6969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u6969 {
  position:absolute;
  left:908px;
  top:0px;
  width:112px;
  height:36px;
}
#u6970 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u6971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:36px;
}
#u6971 {
  position:absolute;
  left:0px;
  top:36px;
  width:78px;
  height:36px;
}
#u6972 {
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
}
#u6973 {
  position:absolute;
  left:78px;
  top:36px;
  width:99px;
  height:36px;
}
#u6974 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u6975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:36px;
}
#u6975 {
  position:absolute;
  left:177px;
  top:36px;
  width:151px;
  height:36px;
}
#u6976 {
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u6977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u6977 {
  position:absolute;
  left:328px;
  top:36px;
  width:135px;
  height:36px;
}
#u6978 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u6979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:36px;
}
#u6979 {
  position:absolute;
  left:463px;
  top:36px;
  width:113px;
  height:36px;
}
#u6980 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u6981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u6981 {
  position:absolute;
  left:576px;
  top:36px;
  width:112px;
  height:36px;
}
#u6982 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u6983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:36px;
}
#u6983 {
  position:absolute;
  left:688px;
  top:36px;
  width:110px;
  height:36px;
}
#u6984 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u6985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:36px;
}
#u6985 {
  position:absolute;
  left:798px;
  top:36px;
  width:110px;
  height:36px;
}
#u6986 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u6987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u6987 {
  position:absolute;
  left:908px;
  top:36px;
  width:112px;
  height:36px;
  color:#199ED8;
}
#u6988 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u6989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u6989 {
  position:absolute;
  left:0px;
  top:72px;
  width:78px;
  height:30px;
}
#u6990 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u6991 {
  position:absolute;
  left:78px;
  top:72px;
  width:99px;
  height:30px;
}
#u6992 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  word-wrap:break-word;
}
#u6993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u6993 {
  position:absolute;
  left:177px;
  top:72px;
  width:151px;
  height:30px;
}
#u6994 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u6995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u6995 {
  position:absolute;
  left:328px;
  top:72px;
  width:135px;
  height:30px;
}
#u6996 {
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  word-wrap:break-word;
}
#u6997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u6997 {
  position:absolute;
  left:463px;
  top:72px;
  width:113px;
  height:30px;
}
#u6998 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u6999 {
  position:absolute;
  left:576px;
  top:72px;
  width:112px;
  height:30px;
}
#u7000 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u7001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u7001 {
  position:absolute;
  left:688px;
  top:72px;
  width:110px;
  height:30px;
}
#u7002 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u7003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u7003 {
  position:absolute;
  left:798px;
  top:72px;
  width:110px;
  height:30px;
}
#u7004 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u7005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u7005 {
  position:absolute;
  left:908px;
  top:72px;
  width:112px;
  height:30px;
  color:#199ED8;
}
#u7006 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u7007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u7007 {
  position:absolute;
  left:0px;
  top:102px;
  width:78px;
  height:30px;
}
#u7008 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u7009 {
  position:absolute;
  left:78px;
  top:102px;
  width:99px;
  height:30px;
}
#u7010 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  word-wrap:break-word;
}
#u7011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u7011 {
  position:absolute;
  left:177px;
  top:102px;
  width:151px;
  height:30px;
}
#u7012 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u7013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u7013 {
  position:absolute;
  left:328px;
  top:102px;
  width:135px;
  height:30px;
}
#u7014 {
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  word-wrap:break-word;
}
#u7015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u7015 {
  position:absolute;
  left:463px;
  top:102px;
  width:113px;
  height:30px;
}
#u7016 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u7017 {
  position:absolute;
  left:576px;
  top:102px;
  width:112px;
  height:30px;
}
#u7018 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u7019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u7019 {
  position:absolute;
  left:688px;
  top:102px;
  width:110px;
  height:30px;
}
#u7020 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u7021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u7021 {
  position:absolute;
  left:798px;
  top:102px;
  width:110px;
  height:30px;
}
#u7022 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u7023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u7023 {
  position:absolute;
  left:908px;
  top:102px;
  width:112px;
  height:30px;
  color:#199ED8;
}
#u7024 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u7025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u7025 {
  position:absolute;
  left:0px;
  top:132px;
  width:78px;
  height:30px;
}
#u7026 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u7027 {
  position:absolute;
  left:78px;
  top:132px;
  width:99px;
  height:30px;
}
#u7028 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u7029 {
  position:absolute;
  left:177px;
  top:132px;
  width:151px;
  height:30px;
}
#u7030 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u7031 {
  position:absolute;
  left:328px;
  top:132px;
  width:135px;
  height:30px;
}
#u7032 {
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u7033 {
  position:absolute;
  left:463px;
  top:132px;
  width:113px;
  height:30px;
}
#u7034 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u7035 {
  position:absolute;
  left:576px;
  top:132px;
  width:112px;
  height:30px;
}
#u7036 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u7037 {
  position:absolute;
  left:688px;
  top:132px;
  width:110px;
  height:30px;
}
#u7038 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u7039 {
  position:absolute;
  left:798px;
  top:132px;
  width:110px;
  height:30px;
}
#u7040 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u7041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u7041 {
  position:absolute;
  left:908px;
  top:132px;
  width:112px;
  height:30px;
  color:#199ED8;
}
#u7042 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7043 {
  position:absolute;
  left:20px;
  top:60px;
  width:1020px;
  height:120px;
}
#u7044 {
  position:absolute;
  left:2px;
  top:52px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7045 {
  position:absolute;
  left:719px;
  top:80px;
  width:180px;
  height:25px;
}
#u7045_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7046 {
  position:absolute;
  left:955px;
  top:75px;
  width:60px;
  height:30px;
  color:#FFFFFF;
}
#u7046_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7046.mouseOver {
}
#u7046_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7046.mouseDown {
}
#u7047 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u7048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7048 {
  position:absolute;
  left:169px;
  top:83px;
  width:95px;
  height:27px;
}
#u7049 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u7050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7050 {
  position:absolute;
  left:284px;
  top:83px;
  width:95px;
  height:27px;
}
#u7051 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u7052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7052 {
  position:absolute;
  left:269px;
  top:89px;
  width:9px;
  height:16px;
}
#u7053 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u7054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:45px;
}
#u7054 {
  position:absolute;
  left:584px;
  top:545px;
  width:431px;
  height:45px;
}
#u7055 {
  position:absolute;
  left:2px;
  top:14px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7056 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:35px;
}
#u7057 {
  position:absolute;
  left:2px;
  top:10px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7058 {
  position:absolute;
  left:35px;
  top:0px;
  width:110px;
  height:35px;
}
#u7059 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u7060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u7060 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u7061 {
  position:absolute;
  left:0px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
#u7062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u7062 {
  position:absolute;
  left:1045px;
  top:0px;
  width:35px;
  height:35px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u7063 {
  position:absolute;
  left:0px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
#u7064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7064 {
  position:absolute;
  left:35px;
  top:85px;
  width:43px;
  height:16px;
}
#u7065 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7066 {
  position:absolute;
  left:37px;
  top:130px;
  width:63px;
  height:30px;
  color:#FFFFFF;
}
#u7066_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7066.mouseOver {
}
#u7066_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7066.mouseDown {
}
#u7067 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u7068 {
  position:absolute;
  left:58px;
  top:213px;
  width:20px;
  height:16px;
}
#u7069 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7068_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7070 {
  position:absolute;
  left:58px;
  top:244px;
  width:20px;
  height:16px;
}
#u7071 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7070_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7072 {
  position:absolute;
  left:58px;
  top:279px;
  width:20px;
  height:16px;
}
#u7073 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7072_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7074 {
  position:absolute;
  left:58px;
  top:309px;
  width:20px;
  height:16px;
}
#u7075 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7074_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7076 {
  position:absolute;
  left:519px;
  top:80px;
  width:180px;
  height:25px;
}
#u7076_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7077 {
  position:absolute;
  left:409px;
  top:83px;
  width:80px;
  height:22px;
}
#u7077_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7077_input:disabled {
  color:grayText;
}
#u7078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7078 {
  position:absolute;
  left:120px;
  top:130px;
  width:63px;
  height:30px;
  color:#FFFFFF;
}
#u7078_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7078.mouseOver {
}
#u7078_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7078.mouseDown {
}
#u7079 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u7078_ann {
  position:absolute;
  left:176px;
  top:126px;
  width:1px;
  height:1px;
}
