body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:820px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5401 {
  position:absolute;
  left:40px;
  top:80px;
  width:543px;
  height:191px;
}
#u5402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5402 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5403 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u5404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5404 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u5405 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u5406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:30px;
}
#u5406 {
  position:absolute;
  left:200px;
  top:0px;
  width:203px;
  height:30px;
}
#u5407 {
  position:absolute;
  left:2px;
  top:7px;
  width:199px;
  word-wrap:break-word;
}
#u5408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u5408 {
  position:absolute;
  left:403px;
  top:0px;
  width:135px;
  height:30px;
}
#u5409 {
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  word-wrap:break-word;
}
#u5410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u5410 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:36px;
}
#u5411 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u5412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u5412 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:36px;
}
#u5413 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u5414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:36px;
}
#u5414 {
  position:absolute;
  left:200px;
  top:30px;
  width:203px;
  height:36px;
}
#u5415 {
  position:absolute;
  left:2px;
  top:10px;
  width:199px;
  word-wrap:break-word;
}
#u5416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u5416 {
  position:absolute;
  left:403px;
  top:30px;
  width:135px;
  height:36px;
  color:#199ED8;
}
#u5417 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u5418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5418 {
  position:absolute;
  left:0px;
  top:66px;
  width:100px;
  height:30px;
}
#u5419 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u5420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5420 {
  position:absolute;
  left:100px;
  top:66px;
  width:100px;
  height:30px;
}
#u5421 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u5422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:30px;
}
#u5422 {
  position:absolute;
  left:200px;
  top:66px;
  width:203px;
  height:30px;
}
#u5423 {
  position:absolute;
  left:2px;
  top:7px;
  width:199px;
  word-wrap:break-word;
}
#u5424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u5424 {
  position:absolute;
  left:403px;
  top:66px;
  width:135px;
  height:30px;
  color:#199ED8;
}
#u5425 {
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  word-wrap:break-word;
}
#u5426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5426 {
  position:absolute;
  left:0px;
  top:96px;
  width:100px;
  height:30px;
}
#u5427 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u5428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5428 {
  position:absolute;
  left:100px;
  top:96px;
  width:100px;
  height:30px;
}
#u5429 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u5430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:30px;
}
#u5430 {
  position:absolute;
  left:200px;
  top:96px;
  width:203px;
  height:30px;
}
#u5431 {
  position:absolute;
  left:2px;
  top:7px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u5432 {
  position:absolute;
  left:403px;
  top:96px;
  width:135px;
  height:30px;
  color:#199ED8;
}
#u5433 {
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5434_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5434 {
  position:absolute;
  left:0px;
  top:126px;
  width:100px;
  height:30px;
}
#u5435 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u5436_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5436 {
  position:absolute;
  left:100px;
  top:126px;
  width:100px;
  height:30px;
}
#u5437 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u5438_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:30px;
}
#u5438 {
  position:absolute;
  left:200px;
  top:126px;
  width:203px;
  height:30px;
}
#u5439 {
  position:absolute;
  left:2px;
  top:7px;
  width:199px;
  word-wrap:break-word;
}
#u5440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u5440 {
  position:absolute;
  left:403px;
  top:126px;
  width:135px;
  height:30px;
  color:#199ED8;
}
#u5441 {
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  word-wrap:break-word;
}
#u5442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5442 {
  position:absolute;
  left:0px;
  top:156px;
  width:100px;
  height:30px;
}
#u5443 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u5444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5444 {
  position:absolute;
  left:100px;
  top:156px;
  width:100px;
  height:30px;
}
#u5445 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u5446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:30px;
}
#u5446 {
  position:absolute;
  left:200px;
  top:156px;
  width:203px;
  height:30px;
}
#u5447 {
  position:absolute;
  left:2px;
  top:7px;
  width:199px;
  word-wrap:break-word;
}
#u5448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u5448 {
  position:absolute;
  left:403px;
  top:156px;
  width:135px;
  height:30px;
  color:#199ED8;
}
#u5449 {
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  word-wrap:break-word;
}
#u5450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u5450 {
  position:absolute;
  left:498px;
  top:30px;
  width:80px;
  height:27px;
  font-size:14px;
  color:#FFFFFF;
}
#u5450_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u5450.mouseOver {
}
#u5450_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u5450.mouseDown {
}
#u5451 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u5452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u5452 {
  position:absolute;
  left:670px;
  top:90px;
  width:150px;
  height:150px;
}
#u5453 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
