body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:490px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8870 {
  position:absolute;
  left:50px;
  top:40px;
  width:670px;
  height:490px;
}
#u8871 {
  position:absolute;
  left:2px;
  top:237px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  height:50px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8872 {
  position:absolute;
  left:51px;
  top:41px;
  width:669px;
  height:50px;
}
#u8873 {
  position:absolute;
  left:2px;
  top:17px;
  width:665px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8874 {
  position:absolute;
  left:680px;
  top:58px;
  width:20px;
  height:16px;
}
#u8875 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u8876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8876 {
  position:absolute;
  left:65px;
  top:57px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u8877 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8878 {
  position:absolute;
  left:146px;
  top:99px;
  width:135px;
  height:22px;
}
#u8878_input {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8878_input:disabled {
  color:grayText;
}
#u8879 {
  position:absolute;
  left:480px;
  top:98px;
  width:120px;
  height:25px;
}
#u8879_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8880 {
  position:absolute;
  left:610px;
  top:95px;
  width:80px;
  height:30px;
  color:#FFFFFF;
}
#u8880_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8880.mouseOver {
}
#u8880_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8880.mouseDown {
}
#u8881 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u8882 {
  position:absolute;
  left:65px;
  top:185px;
  width:630px;
  height:215px;
}
#u8883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u8883 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u8884 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
}
#u8885 {
  position:absolute;
  left:91px;
  top:0px;
  width:164px;
  height:30px;
}
#u8886 {
  position:absolute;
  left:2px;
  top:7px;
  width:160px;
  word-wrap:break-word;
}
#u8887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u8887 {
  position:absolute;
  left:255px;
  top:0px;
  width:121px;
  height:30px;
}
#u8888 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u8889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u8889 {
  position:absolute;
  left:376px;
  top:0px;
  width:125px;
  height:30px;
}
#u8890 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u8891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u8891 {
  position:absolute;
  left:501px;
  top:0px;
  width:124px;
  height:30px;
}
#u8892 {
  position:absolute;
  left:2px;
  top:7px;
  width:120px;
  word-wrap:break-word;
}
#u8893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u8893 {
  position:absolute;
  left:0px;
  top:30px;
  width:91px;
  height:30px;
}
#u8894 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
}
#u8895 {
  position:absolute;
  left:91px;
  top:30px;
  width:164px;
  height:30px;
}
#u8896 {
  position:absolute;
  left:2px;
  top:7px;
  width:160px;
  word-wrap:break-word;
}
#u8897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u8897 {
  position:absolute;
  left:255px;
  top:30px;
  width:121px;
  height:30px;
}
#u8898 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u8899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u8899 {
  position:absolute;
  left:376px;
  top:30px;
  width:125px;
  height:30px;
}
#u8900 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u8901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u8901 {
  position:absolute;
  left:501px;
  top:30px;
  width:124px;
  height:30px;
}
#u8902 {
  position:absolute;
  left:2px;
  top:7px;
  width:120px;
  word-wrap:break-word;
}
#u8903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u8903 {
  position:absolute;
  left:0px;
  top:60px;
  width:91px;
  height:30px;
}
#u8904 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
}
#u8905 {
  position:absolute;
  left:91px;
  top:60px;
  width:164px;
  height:30px;
}
#u8906 {
  position:absolute;
  left:2px;
  top:7px;
  width:160px;
  word-wrap:break-word;
}
#u8907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u8907 {
  position:absolute;
  left:255px;
  top:60px;
  width:121px;
  height:30px;
}
#u8908 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u8909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u8909 {
  position:absolute;
  left:376px;
  top:60px;
  width:125px;
  height:30px;
}
#u8910 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u8911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u8911 {
  position:absolute;
  left:501px;
  top:60px;
  width:124px;
  height:30px;
}
#u8912 {
  position:absolute;
  left:2px;
  top:7px;
  width:120px;
  word-wrap:break-word;
}
#u8913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u8913 {
  position:absolute;
  left:0px;
  top:90px;
  width:91px;
  height:30px;
}
#u8914 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
}
#u8915 {
  position:absolute;
  left:91px;
  top:90px;
  width:164px;
  height:30px;
}
#u8916 {
  position:absolute;
  left:2px;
  top:7px;
  width:160px;
  word-wrap:break-word;
}
#u8917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u8917 {
  position:absolute;
  left:255px;
  top:90px;
  width:121px;
  height:30px;
}
#u8918 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u8919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u8919 {
  position:absolute;
  left:376px;
  top:90px;
  width:125px;
  height:30px;
}
#u8920 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u8921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u8921 {
  position:absolute;
  left:501px;
  top:90px;
  width:124px;
  height:30px;
}
#u8922 {
  position:absolute;
  left:2px;
  top:7px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u8923 {
  position:absolute;
  left:0px;
  top:120px;
  width:91px;
  height:30px;
}
#u8924 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
}
#u8925 {
  position:absolute;
  left:91px;
  top:120px;
  width:164px;
  height:30px;
}
#u8926 {
  position:absolute;
  left:2px;
  top:7px;
  width:160px;
  word-wrap:break-word;
}
#u8927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u8927 {
  position:absolute;
  left:255px;
  top:120px;
  width:121px;
  height:30px;
}
#u8928 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u8929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u8929 {
  position:absolute;
  left:376px;
  top:120px;
  width:125px;
  height:30px;
}
#u8930 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u8931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u8931 {
  position:absolute;
  left:501px;
  top:120px;
  width:124px;
  height:30px;
}
#u8932 {
  position:absolute;
  left:2px;
  top:7px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u8933 {
  position:absolute;
  left:0px;
  top:150px;
  width:91px;
  height:30px;
}
#u8934 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
}
#u8935 {
  position:absolute;
  left:91px;
  top:150px;
  width:164px;
  height:30px;
}
#u8936 {
  position:absolute;
  left:2px;
  top:7px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u8937 {
  position:absolute;
  left:255px;
  top:150px;
  width:121px;
  height:30px;
}
#u8938 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u8939 {
  position:absolute;
  left:376px;
  top:150px;
  width:125px;
  height:30px;
}
#u8940 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u8941 {
  position:absolute;
  left:501px;
  top:150px;
  width:124px;
  height:30px;
}
#u8942 {
  position:absolute;
  left:2px;
  top:7px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u8943 {
  position:absolute;
  left:0px;
  top:180px;
  width:91px;
  height:30px;
}
#u8944 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
}
#u8945 {
  position:absolute;
  left:91px;
  top:180px;
  width:164px;
  height:30px;
}
#u8946 {
  position:absolute;
  left:2px;
  top:7px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u8947 {
  position:absolute;
  left:255px;
  top:180px;
  width:121px;
  height:30px;
}
#u8948 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u8949 {
  position:absolute;
  left:376px;
  top:180px;
  width:125px;
  height:30px;
}
#u8950 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u8951 {
  position:absolute;
  left:501px;
  top:180px;
  width:124px;
  height:30px;
}
#u8952 {
  position:absolute;
  left:2px;
  top:7px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:45px;
}
#u8953 {
  position:absolute;
  left:269px;
  top:410px;
  width:431px;
  height:45px;
}
#u8954 {
  position:absolute;
  left:2px;
  top:14px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8955 {
  position:absolute;
  left:510px;
  top:473px;
  width:80px;
  height:27px;
  font-size:14px;
  color:#FFFFFF;
}
#u8955_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8955.mouseOver {
}
#u8955_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8955.mouseDown {
}
#u8956 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u8957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8957 {
  position:absolute;
  left:600px;
  top:473px;
  width:80px;
  height:27px;
  font-size:14px;
  color:#FFFFFF;
}
#u8958 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u8959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8959 {
  position:absolute;
  left:65px;
  top:104px;
  width:71px;
  height:16px;
}
#u8960 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u8961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8961 {
  position:absolute;
  left:65px;
  top:141px;
  width:71px;
  height:16px;
}
#u8962 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u8963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8963 {
  position:absolute;
  left:146px;
  top:138px;
  width:135px;
  height:27px;
}
#u8964 {
  position:absolute;
  left:2px;
  top:6px;
  width:131px;
  word-wrap:break-word;
}
#u8965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u8965 {
  position:absolute;
  left:271px;
  top:133px;
  width:12px;
  height:12px;
  font-size:6px;
  color:#FFFFFF;
}
#u8966 {
  position:absolute;
  left:2px;
  top:3px;
  width:8px;
  word-wrap:break-word;
}
#u8967 {
  position:absolute;
  left:98px;
  top:193px;
  width:22px;
  height:16px;
}
#u8968 {
  position:absolute;
  left:16px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8967_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8969 {
  position:absolute;
  left:98px;
  top:223px;
  width:22px;
  height:16px;
}
#u8970 {
  position:absolute;
  left:16px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8969_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8971 {
  position:absolute;
  left:98px;
  top:251px;
  width:22px;
  height:16px;
}
#u8972 {
  position:absolute;
  left:16px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8971_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8973 {
  position:absolute;
  left:98px;
  top:283px;
  width:22px;
  height:16px;
}
#u8974 {
  position:absolute;
  left:16px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8973_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8975 {
  position:absolute;
  left:303px;
  top:99px;
  width:135px;
  height:22px;
}
#u8975_input {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8975_input:disabled {
  color:grayText;
}
