body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:950px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:456px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6874 {
  position:absolute;
  left:20px;
  top:194px;
  width:930px;
  height:456px;
}
#u6875 {
  position:absolute;
  left:2px;
  top:220px;
  width:926px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6876 {
  position:absolute;
  left:20px;
  top:10px;
  width:930px;
  height:160px;
}
#u6877 {
  position:absolute;
  left:2px;
  top:72px;
  width:926px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6878 {
  position:absolute;
  left:30px;
  top:20px;
  width:20px;
  height:20px;
}
#u6879 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6880 {
  position:absolute;
  left:60px;
  top:21px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u6881 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6882 {
  position:absolute;
  left:30px;
  top:60px;
  width:57px;
  height:16px;
  color:#999999;
}
#u6883 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6884 {
  position:absolute;
  left:129px;
  top:60px;
  width:29px;
  height:16px;
}
#u6885 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6886 {
  position:absolute;
  left:272px;
  top:112px;
  width:71px;
  height:16px;
  color:#999999;
}
#u6887 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u6888 {
  position:absolute;
  left:371px;
  top:112px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u6889 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6890 {
  position:absolute;
  left:30px;
  top:112px;
  width:57px;
  height:16px;
  color:#999999;
}
#u6891 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6892 {
  position:absolute;
  left:129px;
  top:112px;
  width:89px;
  height:16px;
}
#u6893 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u6894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6894 {
  position:absolute;
  left:30px;
  top:86px;
  width:29px;
  height:16px;
  color:#999999;
}
#u6895 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6896 {
  position:absolute;
  left:129px;
  top:86px;
  width:29px;
  height:16px;
}
#u6897 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6898 {
  position:absolute;
  left:272px;
  top:60px;
  width:71px;
  height:16px;
  color:#999999;
}
#u6899 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u6900 {
  position:absolute;
  left:371px;
  top:60px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u6901 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6902 {
  position:absolute;
  left:272px;
  top:86px;
  width:57px;
  height:16px;
  color:#999999;
}
#u6903 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u6904 {
  position:absolute;
  left:371px;
  top:86px;
  width:101px;
  height:16px;
  font-size:13px;
}
#u6905 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u6906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6906 {
  position:absolute;
  left:531px;
  top:112px;
  width:57px;
  height:16px;
  color:#999999;
}
#u6907 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u6908 {
  position:absolute;
  left:630px;
  top:112px;
  width:209px;
  height:16px;
  font-size:13px;
}
#u6909 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u6910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6910 {
  position:absolute;
  left:531px;
  top:86px;
  width:57px;
  height:16px;
  color:#999999;
}
#u6911 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6912 {
  position:absolute;
  left:630px;
  top:86px;
  width:43px;
  height:16px;
}
#u6913 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6914 {
  position:absolute;
  left:531px;
  top:60px;
  width:43px;
  height:16px;
  color:#999999;
}
#u6915 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6916 {
  position:absolute;
  left:630px;
  top:60px;
  width:29px;
  height:16px;
}
#u6917 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6918 {
  position:absolute;
  left:30px;
  top:210px;
  width:20px;
  height:20px;
}
#u6919 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6920 {
  position:absolute;
  left:60px;
  top:211px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u6921 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6922 {
  position:absolute;
  left:30px;
  top:260px;
  width:855px;
  height:125px;
}
#u6923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u6923 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u6924 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u6925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u6925 {
  position:absolute;
  left:170px;
  top:0px;
  width:170px;
  height:30px;
}
#u6926 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u6927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u6927 {
  position:absolute;
  left:340px;
  top:0px;
  width:170px;
  height:30px;
}
#u6928 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u6929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u6929 {
  position:absolute;
  left:510px;
  top:0px;
  width:170px;
  height:30px;
}
#u6930 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u6931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u6931 {
  position:absolute;
  left:680px;
  top:0px;
  width:170px;
  height:30px;
}
#u6932 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u6933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u6933 {
  position:absolute;
  left:0px;
  top:30px;
  width:170px;
  height:30px;
}
#u6934 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u6935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u6935 {
  position:absolute;
  left:170px;
  top:30px;
  width:170px;
  height:30px;
}
#u6936 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u6937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u6937 {
  position:absolute;
  left:340px;
  top:30px;
  width:170px;
  height:30px;
}
#u6938 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u6939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u6939 {
  position:absolute;
  left:510px;
  top:30px;
  width:170px;
  height:30px;
}
#u6940 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u6941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u6941 {
  position:absolute;
  left:680px;
  top:30px;
  width:170px;
  height:30px;
}
#u6942 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u6943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u6943 {
  position:absolute;
  left:0px;
  top:60px;
  width:170px;
  height:30px;
}
#u6944 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u6945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u6945 {
  position:absolute;
  left:170px;
  top:60px;
  width:170px;
  height:30px;
}
#u6946 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u6947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u6947 {
  position:absolute;
  left:340px;
  top:60px;
  width:170px;
  height:30px;
}
#u6948 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u6949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u6949 {
  position:absolute;
  left:510px;
  top:60px;
  width:170px;
  height:30px;
}
#u6950 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u6951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u6951 {
  position:absolute;
  left:680px;
  top:60px;
  width:170px;
  height:30px;
}
#u6952 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u6953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u6953 {
  position:absolute;
  left:0px;
  top:90px;
  width:170px;
  height:30px;
}
#u6954 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u6955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u6955 {
  position:absolute;
  left:170px;
  top:90px;
  width:170px;
  height:30px;
}
#u6956 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u6957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u6957 {
  position:absolute;
  left:340px;
  top:90px;
  width:170px;
  height:30px;
}
#u6958 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u6959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u6959 {
  position:absolute;
  left:510px;
  top:90px;
  width:170px;
  height:30px;
}
#u6960 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u6961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u6961 {
  position:absolute;
  left:680px;
  top:90px;
  width:170px;
  height:30px;
}
#u6962 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
