body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:560px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:450px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7981 {
  position:absolute;
  left:10px;
  top:10px;
  width:550px;
  height:450px;
}
#u7982 {
  position:absolute;
  left:2px;
  top:217px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:50px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7983 {
  position:absolute;
  left:11px;
  top:11px;
  width:549px;
  height:50px;
}
#u7984 {
  position:absolute;
  left:2px;
  top:17px;
  width:545px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7985 {
  position:absolute;
  left:530px;
  top:28px;
  width:20px;
  height:16px;
}
#u7986 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u7987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7987 {
  position:absolute;
  left:25px;
  top:27px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u7988 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7989 {
  position:absolute;
  left:25px;
  top:71px;
  width:135px;
  height:22px;
}
#u7989_input {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7989_input:disabled {
  color:grayText;
}
#u7990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7990 {
  position:absolute;
  left:173px;
  top:74px;
  width:29px;
  height:16px;
}
#u7991 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7992 {
  position:absolute;
  left:212px;
  top:70px;
  width:188px;
  height:25px;
}
#u7992_input {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7993 {
  position:absolute;
  left:430px;
  top:68px;
  width:60px;
  height:28px;
  color:#FFFFFF;
}
#u7993_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7993.mouseOver {
}
#u7993_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7993.mouseDown {
}
#u7994 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u7995 {
  position:absolute;
  left:25px;
  top:130px;
  width:510px;
  height:185px;
}
#u7996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u7996 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u7997 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u7998 {
  position:absolute;
  left:101px;
  top:0px;
  width:134px;
  height:30px;
}
#u7999 {
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  word-wrap:break-word;
}
#u8000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u8000 {
  position:absolute;
  left:235px;
  top:0px;
  width:136px;
  height:30px;
}
#u8001 {
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
#u8002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u8002 {
  position:absolute;
  left:371px;
  top:0px;
  width:134px;
  height:30px;
}
#u8003 {
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  word-wrap:break-word;
}
#u8004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u8004 {
  position:absolute;
  left:0px;
  top:30px;
  width:101px;
  height:30px;
}
#u8005 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u8006 {
  position:absolute;
  left:101px;
  top:30px;
  width:134px;
  height:30px;
}
#u8007 {
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  word-wrap:break-word;
}
#u8008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u8008 {
  position:absolute;
  left:235px;
  top:30px;
  width:136px;
  height:30px;
}
#u8009 {
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
#u8010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u8010 {
  position:absolute;
  left:371px;
  top:30px;
  width:134px;
  height:30px;
}
#u8011 {
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  word-wrap:break-word;
}
#u8012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u8012 {
  position:absolute;
  left:0px;
  top:60px;
  width:101px;
  height:30px;
}
#u8013 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u8014 {
  position:absolute;
  left:101px;
  top:60px;
  width:134px;
  height:30px;
}
#u8015 {
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  word-wrap:break-word;
}
#u8016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u8016 {
  position:absolute;
  left:235px;
  top:60px;
  width:136px;
  height:30px;
}
#u8017 {
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
#u8018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u8018 {
  position:absolute;
  left:371px;
  top:60px;
  width:134px;
  height:30px;
}
#u8019 {
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  word-wrap:break-word;
}
#u8020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u8020 {
  position:absolute;
  left:0px;
  top:90px;
  width:101px;
  height:30px;
}
#u8021 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u8022 {
  position:absolute;
  left:101px;
  top:90px;
  width:134px;
  height:30px;
}
#u8023 {
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  word-wrap:break-word;
}
#u8024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u8024 {
  position:absolute;
  left:235px;
  top:90px;
  width:136px;
  height:30px;
}
#u8025 {
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
#u8026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u8026 {
  position:absolute;
  left:371px;
  top:90px;
  width:134px;
  height:30px;
}
#u8027 {
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  word-wrap:break-word;
}
#u8028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u8028 {
  position:absolute;
  left:0px;
  top:120px;
  width:101px;
  height:30px;
}
#u8029 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u8030 {
  position:absolute;
  left:101px;
  top:120px;
  width:134px;
  height:30px;
}
#u8031 {
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u8032 {
  position:absolute;
  left:235px;
  top:120px;
  width:136px;
  height:30px;
}
#u8033 {
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u8034 {
  position:absolute;
  left:371px;
  top:120px;
  width:134px;
  height:30px;
}
#u8035 {
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u8036 {
  position:absolute;
  left:0px;
  top:150px;
  width:101px;
  height:30px;
}
#u8037 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u8038 {
  position:absolute;
  left:101px;
  top:150px;
  width:134px;
  height:30px;
}
#u8039 {
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u8040 {
  position:absolute;
  left:235px;
  top:150px;
  width:136px;
  height:30px;
}
#u8041 {
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u8042 {
  position:absolute;
  left:371px;
  top:150px;
  width:134px;
  height:30px;
}
#u8043 {
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8044 {
  position:absolute;
  left:60px;
  top:167px;
  width:20px;
  height:16px;
}
#u8045 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8044_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8046 {
  position:absolute;
  left:60px;
  top:198px;
  width:20px;
  height:16px;
}
#u8047 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8046_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8048 {
  position:absolute;
  left:60px;
  top:228px;
  width:20px;
  height:16px;
}
#u8049 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8048_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:45px;
}
#u8050 {
  position:absolute;
  left:99px;
  top:345px;
  width:431px;
  height:45px;
}
#u8051 {
  position:absolute;
  left:2px;
  top:14px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8052 {
  position:absolute;
  left:340px;
  top:414px;
  width:80px;
  height:27px;
  font-size:14px;
  color:#FFFFFF;
}
#u8052_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8052.mouseOver {
}
#u8052_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8052.mouseDown {
}
#u8053 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u8054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8054 {
  position:absolute;
  left:430px;
  top:414px;
  width:80px;
  height:27px;
  font-size:14px;
  color:#FFFFFF;
}
#u8055 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
