body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:456px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7139 {
  position:absolute;
  left:20px;
  top:244px;
  width:930px;
  height:456px;
}
#u7140 {
  position:absolute;
  left:2px;
  top:220px;
  width:926px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7141 {
  position:absolute;
  left:20px;
  top:60px;
  width:930px;
  height:160px;
}
#u7142 {
  position:absolute;
  left:2px;
  top:72px;
  width:926px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7143 {
  position:absolute;
  left:30px;
  top:70px;
  width:20px;
  height:20px;
}
#u7144 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7145 {
  position:absolute;
  left:60px;
  top:71px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u7146 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7147 {
  position:absolute;
  left:30px;
  top:110px;
  width:57px;
  height:16px;
  color:#999999;
}
#u7148 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7149 {
  position:absolute;
  left:129px;
  top:110px;
  width:29px;
  height:16px;
}
#u7150 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7151 {
  position:absolute;
  left:272px;
  top:162px;
  width:71px;
  height:16px;
  color:#999999;
}
#u7152 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u7153 {
  position:absolute;
  left:371px;
  top:162px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u7154 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7155 {
  position:absolute;
  left:30px;
  top:162px;
  width:57px;
  height:16px;
  color:#999999;
}
#u7156 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7157 {
  position:absolute;
  left:129px;
  top:162px;
  width:89px;
  height:16px;
}
#u7158 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u7159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7159 {
  position:absolute;
  left:30px;
  top:136px;
  width:29px;
  height:16px;
  color:#999999;
}
#u7160 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7161 {
  position:absolute;
  left:129px;
  top:136px;
  width:29px;
  height:16px;
}
#u7162 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7163 {
  position:absolute;
  left:272px;
  top:110px;
  width:71px;
  height:16px;
  color:#999999;
}
#u7164 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u7165 {
  position:absolute;
  left:371px;
  top:110px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u7166 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7167 {
  position:absolute;
  left:272px;
  top:136px;
  width:57px;
  height:16px;
  color:#999999;
}
#u7168 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u7169 {
  position:absolute;
  left:371px;
  top:136px;
  width:101px;
  height:16px;
  font-size:13px;
}
#u7170 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u7171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7171 {
  position:absolute;
  left:531px;
  top:162px;
  width:57px;
  height:16px;
  color:#999999;
}
#u7172 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u7173 {
  position:absolute;
  left:630px;
  top:162px;
  width:209px;
  height:16px;
  font-size:13px;
}
#u7174 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u7175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7175 {
  position:absolute;
  left:531px;
  top:136px;
  width:57px;
  height:16px;
  color:#999999;
}
#u7176 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7177 {
  position:absolute;
  left:630px;
  top:136px;
  width:43px;
  height:16px;
}
#u7178 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7179 {
  position:absolute;
  left:531px;
  top:110px;
  width:43px;
  height:16px;
  color:#999999;
}
#u7180 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7181 {
  position:absolute;
  left:630px;
  top:110px;
  width:29px;
  height:16px;
}
#u7182 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7183 {
  position:absolute;
  left:30px;
  top:260px;
  width:20px;
  height:20px;
}
#u7184 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7185 {
  position:absolute;
  left:60px;
  top:261px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u7186 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 51, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 102, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7187 {
  position:absolute;
  left:174px;
  top:610px;
  width:76px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7187_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 51, 51, 0.627450980392157);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 102, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7187.mouseOver {
}
#u7188 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u7189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u7189 {
  position:absolute;
  left:56px;
  top:610px;
  width:76px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7189_img.mouseOver {
}
#u7189.mouseOver {
}
#u7190 {
  position:absolute;
  left:2px;
  top:5px;
  width:72px;
  word-wrap:break-word;
}
#u7191 {
  position:absolute;
  left:30px;
  top:310px;
  width:855px;
  height:125px;
}
#u7192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7192 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7193 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7194 {
  position:absolute;
  left:170px;
  top:0px;
  width:170px;
  height:30px;
}
#u7195 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7196 {
  position:absolute;
  left:340px;
  top:0px;
  width:170px;
  height:30px;
}
#u7197 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7198 {
  position:absolute;
  left:510px;
  top:0px;
  width:170px;
  height:30px;
}
#u7199 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7200 {
  position:absolute;
  left:680px;
  top:0px;
  width:170px;
  height:30px;
}
#u7201 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7202 {
  position:absolute;
  left:0px;
  top:30px;
  width:170px;
  height:30px;
}
#u7203 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7204 {
  position:absolute;
  left:170px;
  top:30px;
  width:170px;
  height:30px;
}
#u7205 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7206 {
  position:absolute;
  left:340px;
  top:30px;
  width:170px;
  height:30px;
}
#u7207 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7208 {
  position:absolute;
  left:510px;
  top:30px;
  width:170px;
  height:30px;
}
#u7209 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7210 {
  position:absolute;
  left:680px;
  top:30px;
  width:170px;
  height:30px;
}
#u7211 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7212 {
  position:absolute;
  left:0px;
  top:60px;
  width:170px;
  height:30px;
}
#u7213 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7214 {
  position:absolute;
  left:170px;
  top:60px;
  width:170px;
  height:30px;
}
#u7215 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7216 {
  position:absolute;
  left:340px;
  top:60px;
  width:170px;
  height:30px;
}
#u7217 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7218 {
  position:absolute;
  left:510px;
  top:60px;
  width:170px;
  height:30px;
}
#u7219 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7220 {
  position:absolute;
  left:680px;
  top:60px;
  width:170px;
  height:30px;
}
#u7221 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7222 {
  position:absolute;
  left:0px;
  top:90px;
  width:170px;
  height:30px;
}
#u7223 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7224 {
  position:absolute;
  left:170px;
  top:90px;
  width:170px;
  height:30px;
}
#u7225 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7226 {
  position:absolute;
  left:340px;
  top:90px;
  width:170px;
  height:30px;
}
#u7227 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7228 {
  position:absolute;
  left:510px;
  top:90px;
  width:170px;
  height:30px;
}
#u7229 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7230 {
  position:absolute;
  left:680px;
  top:90px;
  width:170px;
  height:30px;
}
#u7231 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7232 {
  position:absolute;
  left:866px;
  top:71px;
  width:64px;
  height:25px;
  color:#FFFFFF;
}
#u7232_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7232.mouseOver {
}
#u7232_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7232.mouseDown {
}
#u7233 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u7234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7234 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:35px;
}
#u7235 {
  position:absolute;
  left:2px;
  top:10px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7236 {
  position:absolute;
  left:35px;
  top:0px;
  width:110px;
  height:35px;
}
#u7237 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u7238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u7238 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u7239 {
  position:absolute;
  left:0px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
#u7240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u7240 {
  position:absolute;
  left:1045px;
  top:0px;
  width:35px;
  height:35px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u7241 {
  position:absolute;
  left:0px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
