body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:456px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6995 {
  position:absolute;
  left:20px;
  top:244px;
  width:930px;
  height:456px;
}
#u6996 {
  position:absolute;
  left:2px;
  top:220px;
  width:926px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6997 {
  position:absolute;
  left:20px;
  top:60px;
  width:930px;
  height:160px;
}
#u6998 {
  position:absolute;
  left:2px;
  top:72px;
  width:926px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6999 {
  position:absolute;
  left:30px;
  top:70px;
  width:20px;
  height:20px;
}
#u7000 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7001 {
  position:absolute;
  left:60px;
  top:71px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u7002 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7003 {
  position:absolute;
  left:30px;
  top:110px;
  width:57px;
  height:16px;
  color:#999999;
}
#u7004 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7005 {
  position:absolute;
  left:129px;
  top:110px;
  width:29px;
  height:16px;
}
#u7006 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7007 {
  position:absolute;
  left:272px;
  top:162px;
  width:71px;
  height:16px;
  color:#999999;
}
#u7008 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u7009 {
  position:absolute;
  left:371px;
  top:162px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u7010 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7011 {
  position:absolute;
  left:30px;
  top:162px;
  width:57px;
  height:16px;
  color:#999999;
}
#u7012 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7013 {
  position:absolute;
  left:129px;
  top:162px;
  width:89px;
  height:16px;
}
#u7014 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u7015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7015 {
  position:absolute;
  left:30px;
  top:136px;
  width:29px;
  height:16px;
  color:#999999;
}
#u7016 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7017 {
  position:absolute;
  left:129px;
  top:136px;
  width:29px;
  height:16px;
}
#u7018 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7019 {
  position:absolute;
  left:272px;
  top:110px;
  width:71px;
  height:16px;
  color:#999999;
}
#u7020 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u7021 {
  position:absolute;
  left:371px;
  top:110px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u7022 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7023 {
  position:absolute;
  left:272px;
  top:136px;
  width:57px;
  height:16px;
  color:#999999;
}
#u7024 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u7025 {
  position:absolute;
  left:371px;
  top:136px;
  width:101px;
  height:16px;
  font-size:13px;
}
#u7026 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u7027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7027 {
  position:absolute;
  left:531px;
  top:162px;
  width:57px;
  height:16px;
  color:#999999;
}
#u7028 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u7029 {
  position:absolute;
  left:630px;
  top:162px;
  width:209px;
  height:16px;
  font-size:13px;
}
#u7030 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u7031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7031 {
  position:absolute;
  left:531px;
  top:136px;
  width:57px;
  height:16px;
  color:#999999;
}
#u7032 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7033 {
  position:absolute;
  left:630px;
  top:136px;
  width:43px;
  height:16px;
}
#u7034 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7035 {
  position:absolute;
  left:531px;
  top:110px;
  width:43px;
  height:16px;
  color:#999999;
}
#u7036 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7037 {
  position:absolute;
  left:630px;
  top:110px;
  width:29px;
  height:16px;
}
#u7038 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7039 {
  position:absolute;
  left:30px;
  top:260px;
  width:20px;
  height:20px;
}
#u7040 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7041 {
  position:absolute;
  left:60px;
  top:261px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u7042 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 51, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 102, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7043 {
  position:absolute;
  left:174px;
  top:610px;
  width:76px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7043_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 51, 51, 0.627450980392157);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 102, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7043.mouseOver {
}
#u7044 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u7045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u7045 {
  position:absolute;
  left:56px;
  top:610px;
  width:76px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7045_img.mouseOver {
}
#u7045.mouseOver {
}
#u7046 {
  position:absolute;
  left:2px;
  top:5px;
  width:72px;
  word-wrap:break-word;
}
#u7047 {
  position:absolute;
  left:30px;
  top:310px;
  width:855px;
  height:125px;
}
#u7048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7048 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7049 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7050 {
  position:absolute;
  left:170px;
  top:0px;
  width:170px;
  height:30px;
}
#u7051 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7052 {
  position:absolute;
  left:340px;
  top:0px;
  width:170px;
  height:30px;
}
#u7053 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7054 {
  position:absolute;
  left:510px;
  top:0px;
  width:170px;
  height:30px;
}
#u7055 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7056 {
  position:absolute;
  left:680px;
  top:0px;
  width:170px;
  height:30px;
}
#u7057 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7058 {
  position:absolute;
  left:0px;
  top:30px;
  width:170px;
  height:30px;
}
#u7059 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7060 {
  position:absolute;
  left:170px;
  top:30px;
  width:170px;
  height:30px;
}
#u7061 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7062 {
  position:absolute;
  left:340px;
  top:30px;
  width:170px;
  height:30px;
}
#u7063 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7064 {
  position:absolute;
  left:510px;
  top:30px;
  width:170px;
  height:30px;
}
#u7065 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7066 {
  position:absolute;
  left:680px;
  top:30px;
  width:170px;
  height:30px;
}
#u7067 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7068 {
  position:absolute;
  left:0px;
  top:60px;
  width:170px;
  height:30px;
}
#u7069 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7070 {
  position:absolute;
  left:170px;
  top:60px;
  width:170px;
  height:30px;
}
#u7071 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7072 {
  position:absolute;
  left:340px;
  top:60px;
  width:170px;
  height:30px;
}
#u7073 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7074 {
  position:absolute;
  left:510px;
  top:60px;
  width:170px;
  height:30px;
}
#u7075 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7076 {
  position:absolute;
  left:680px;
  top:60px;
  width:170px;
  height:30px;
}
#u7077 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7078 {
  position:absolute;
  left:0px;
  top:90px;
  width:170px;
  height:30px;
}
#u7079 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7080 {
  position:absolute;
  left:170px;
  top:90px;
  width:170px;
  height:30px;
}
#u7081 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7082 {
  position:absolute;
  left:340px;
  top:90px;
  width:170px;
  height:30px;
}
#u7083 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7084 {
  position:absolute;
  left:510px;
  top:90px;
  width:170px;
  height:30px;
}
#u7085 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u7086 {
  position:absolute;
  left:680px;
  top:90px;
  width:170px;
  height:30px;
}
#u7087 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u7088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7088 {
  position:absolute;
  left:866px;
  top:71px;
  width:64px;
  height:25px;
  color:#FFFFFF;
}
#u7088_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7088.mouseOver {
}
#u7088_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7088.mouseDown {
}
#u7089 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u7090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7090 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:35px;
}
#u7091 {
  position:absolute;
  left:2px;
  top:10px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7092 {
  position:absolute;
  left:35px;
  top:0px;
  width:110px;
  height:35px;
}
#u7093 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u7094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u7094 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u7095 {
  position:absolute;
  left:0px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
#u7096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u7096 {
  position:absolute;
  left:1045px;
  top:0px;
  width:35px;
  height:35px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u7097 {
  position:absolute;
  left:0px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
