body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:808px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u113 {
  position:absolute;
  left:28px;
  top:25px;
  width:785px;
  height:1170px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:30px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:30px;
  text-align:left;
}
#u115 {
  position:absolute;
  left:2px;
  top:7px;
  width:776px;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:100px;
}
#u116 {
  position:absolute;
  left:0px;
  top:30px;
  width:780px;
  height:100px;
  text-align:left;
}
#u117 {
  position:absolute;
  left:2px;
  top:34px;
  width:776px;
  word-wrap:break-word;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:30px;
}
#u118 {
  position:absolute;
  left:0px;
  top:130px;
  width:780px;
  height:30px;
  text-align:left;
}
#u119 {
  position:absolute;
  left:2px;
  top:7px;
  width:776px;
  word-wrap:break-word;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:105px;
}
#u120 {
  position:absolute;
  left:0px;
  top:160px;
  width:780px;
  height:105px;
  text-align:left;
}
#u121 {
  position:absolute;
  left:2px;
  top:36px;
  width:776px;
  word-wrap:break-word;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:30px;
}
#u122 {
  position:absolute;
  left:0px;
  top:265px;
  width:780px;
  height:30px;
  text-align:left;
}
#u123 {
  position:absolute;
  left:2px;
  top:7px;
  width:776px;
  word-wrap:break-word;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:120px;
}
#u124 {
  position:absolute;
  left:0px;
  top:295px;
  width:780px;
  height:120px;
  text-align:left;
}
#u125 {
  position:absolute;
  left:2px;
  top:44px;
  width:776px;
  word-wrap:break-word;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:30px;
}
#u126 {
  position:absolute;
  left:0px;
  top:415px;
  width:780px;
  height:30px;
  text-align:left;
}
#u127 {
  position:absolute;
  left:2px;
  top:7px;
  width:776px;
  word-wrap:break-word;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:120px;
}
#u128 {
  position:absolute;
  left:0px;
  top:445px;
  width:780px;
  height:120px;
  text-align:left;
}
#u129 {
  position:absolute;
  left:2px;
  top:20px;
  width:776px;
  word-wrap:break-word;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:30px;
}
#u130 {
  position:absolute;
  left:0px;
  top:565px;
  width:780px;
  height:30px;
  text-align:left;
}
#u131 {
  position:absolute;
  left:2px;
  top:7px;
  width:776px;
  word-wrap:break-word;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:120px;
}
#u132 {
  position:absolute;
  left:0px;
  top:595px;
  width:780px;
  height:120px;
  text-align:left;
}
#u133 {
  position:absolute;
  left:2px;
  top:4px;
  width:776px;
  word-wrap:break-word;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:30px;
}
#u134 {
  position:absolute;
  left:0px;
  top:715px;
  width:780px;
  height:30px;
  text-align:left;
}
#u135 {
  position:absolute;
  left:2px;
  top:7px;
  width:776px;
  word-wrap:break-word;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:120px;
}
#u136 {
  position:absolute;
  left:0px;
  top:745px;
  width:780px;
  height:120px;
  text-align:left;
}
#u137 {
  position:absolute;
  left:2px;
  top:12px;
  width:776px;
  word-wrap:break-word;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:30px;
}
#u138 {
  position:absolute;
  left:0px;
  top:865px;
  width:780px;
  height:30px;
  text-align:left;
}
#u139 {
  position:absolute;
  left:2px;
  top:7px;
  width:776px;
  word-wrap:break-word;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:120px;
}
#u140 {
  position:absolute;
  left:0px;
  top:895px;
  width:780px;
  height:120px;
  text-align:left;
}
#u141 {
  position:absolute;
  left:2px;
  top:44px;
  width:776px;
  word-wrap:break-word;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:30px;
}
#u142 {
  position:absolute;
  left:0px;
  top:1015px;
  width:780px;
  height:30px;
  text-align:left;
}
#u143 {
  position:absolute;
  left:2px;
  top:7px;
  width:776px;
  word-wrap:break-word;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:120px;
}
#u144 {
  position:absolute;
  left:0px;
  top:1045px;
  width:780px;
  height:120px;
  text-align:left;
}
#u145 {
  position:absolute;
  left:2px;
  top:44px;
  width:776px;
  word-wrap:break-word;
}
