body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4670 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:35px;
}
#u4671 {
  position:absolute;
  left:2px;
  top:10px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4672 {
  position:absolute;
  left:35px;
  top:0px;
  width:110px;
  height:35px;
}
#u4673 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u4674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u4674 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u4675 {
  position:absolute;
  left:0px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
#u4676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u4676 {
  position:absolute;
  left:1045px;
  top:0px;
  width:35px;
  height:35px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u4677 {
  position:absolute;
  left:0px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
#u4678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:250px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4678 {
  position:absolute;
  left:436px;
  top:72px;
  width:626px;
  height:250px;
}
#u4679 {
  position:absolute;
  left:2px;
  top:117px;
  width:622px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4680 {
  position:absolute;
  left:562px;
  top:282px;
  width:42px;
  height:16px;
}
#u4681 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u4682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:160px;
}
#u4682 {
  position:absolute;
  left:505px;
  top:113px;
  width:1px;
  height:159px;
}
#u4683 {
  position:absolute;
  left:2px;
  top:72px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:2px;
}
#u4684 {
  position:absolute;
  left:505px;
  top:271px;
  width:511px;
  height:1px;
}
#u4685 {
  position:absolute;
  left:2px;
  top:-8px;
  width:507px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4686 {
  position:absolute;
  left:486px;
  top:256px;
  width:9px;
  height:16px;
}
#u4687 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u4688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4688 {
  position:absolute;
  left:459px;
  top:126px;
  width:91px;
  height:16px;
}
#u4689 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u4690 {
  position:absolute;
  left:922px;
  top:84px;
  width:111px;
  height:22px;
}
#u4690_input {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4690_input:disabled {
  color:grayText;
}
#u4691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4691 {
  position:absolute;
  left:1016px;
  top:264px;
  width:46px;
  height:16px;
}
#u4692 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u4693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4693 {
  position:absolute;
  left:622px;
  top:282px;
  width:42px;
  height:16px;
}
#u4694 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u4695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4695 {
  position:absolute;
  left:686px;
  top:282px;
  width:42px;
  height:16px;
}
#u4696 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u4697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4697 {
  position:absolute;
  left:750px;
  top:282px;
  width:42px;
  height:16px;
}
#u4698 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u4699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4699 {
  position:absolute;
  left:814px;
  top:282px;
  width:42px;
  height:16px;
}
#u4700 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u4701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4701 {
  position:absolute;
  left:878px;
  top:282px;
  width:42px;
  height:16px;
}
#u4702 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u4703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4703 {
  position:absolute;
  left:945px;
  top:282px;
  width:42px;
  height:16px;
}
#u4704 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u4705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:20px;
  background:inherit;
  background-color:rgba(102, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4705 {
  position:absolute;
  left:570px;
  top:252px;
  width:9px;
  height:20px;
}
#u4706 {
  position:absolute;
  left:2px;
  top:2px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:29px;
  background:inherit;
  background-color:rgba(51, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4707 {
  position:absolute;
  left:635px;
  top:243px;
  width:9px;
  height:29px;
}
#u4708 {
  position:absolute;
  left:2px;
  top:6px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4709 {
  position:absolute;
  left:698px;
  top:243px;
  width:9px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4710 {
  position:absolute;
  left:2px;
  top:6px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:49px;
  background:inherit;
  background-color:rgba(204, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4711 {
  position:absolute;
  left:762px;
  top:223px;
  width:9px;
  height:49px;
}
#u4712 {
  position:absolute;
  left:2px;
  top:16px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:70px;
  background:inherit;
  background-color:rgba(102, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4713 {
  position:absolute;
  left:828px;
  top:202px;
  width:9px;
  height:70px;
}
#u4714 {
  position:absolute;
  left:2px;
  top:27px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:100px;
  background:inherit;
  background-color:rgba(51, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4715 {
  position:absolute;
  left:893px;
  top:172px;
  width:9px;
  height:100px;
}
#u4716 {
  position:absolute;
  left:2px;
  top:42px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4717 {
  position:absolute;
  left:956px;
  top:160px;
  width:9px;
  height:112px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4718 {
  position:absolute;
  left:2px;
  top:48px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:250px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4719 {
  position:absolute;
  left:39px;
  top:72px;
  width:360px;
  height:250px;
}
#u4720 {
  position:absolute;
  left:2px;
  top:117px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4721 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u4722 {
  position:absolute;
  left:86px;
  top:144px;
  width:120px;
  height:120px;
}
#u4723 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:66px;
}
#u4724 {
  position:absolute;
  left:146px;
  top:144px;
  width:1px;
  height:65px;
}
#u4725 {
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u4726 {
  position:absolute;
  left:146px;
  top:208px;
  width:60px;
  height:1px;
}
#u4727 {
  position:absolute;
  left:2px;
  top:-8px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u4728 {
  position:absolute;
  left:92px;
  top:225px;
  width:60px;
  height:1px;
  -webkit-transform:rotate(325deg);
  -moz-transform:rotate(325deg);
  -ms-transform:rotate(325deg);
  transform:rotate(325deg);
}
#u4729 {
  position:absolute;
  left:2px;
  top:-8px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4730 {
  position:absolute;
  left:52px;
  top:81px;
  width:85px;
  height:16px;
}
#u4731 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4730_ann {
  position:absolute;
  left:130px;
  top:77px;
  width:1px;
  height:1px;
}
#u4732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4732 {
  position:absolute;
  left:273px;
  top:162px;
  width:16px;
  height:11px;
}
#u4733 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4734 {
  position:absolute;
  left:299px;
  top:160px;
  width:57px;
  height:16px;
}
#u4735 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:11px;
  background:inherit;
  background-color:rgba(204, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4736 {
  position:absolute;
  left:273px;
  top:225px;
  width:16px;
  height:11px;
}
#u4737 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4738 {
  position:absolute;
  left:299px;
  top:223px;
  width:57px;
  height:16px;
}
#u4739 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:11px;
  background:inherit;
  background-color:rgba(51, 153, 102, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4740 {
  position:absolute;
  left:273px;
  top:194px;
  width:16px;
  height:11px;
}
#u4741 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4742 {
  position:absolute;
  left:299px;
  top:192px;
  width:57px;
  height:16px;
}
#u4743 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4744 {
  position:absolute;
  left:156px;
  top:177px;
  width:41px;
  height:16px;
}
#u4745 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u4746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4746 {
  position:absolute;
  left:459px;
  top:87px;
  width:85px;
  height:16px;
}
#u4747 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4746_ann {
  position:absolute;
  left:537px;
  top:83px;
  width:1px;
  height:1px;
}
#u4748 {
  position:absolute;
  left:792px;
  top:84px;
  width:111px;
  height:22px;
}
#u4748_input {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4748_input:disabled {
  color:grayText;
}
#u4749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4749 {
  position:absolute;
  left:528px;
  top:282px;
  width:20px;
  height:16px;
}
#u4750 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u4751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(204, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4751 {
  position:absolute;
  left:527px;
  top:256px;
  width:9px;
  height:16px;
}
#u4752 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
