body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:620px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:420px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6623 {
  position:absolute;
  left:20px;
  top:70px;
  width:600px;
  height:420px;
}
#u6624 {
  position:absolute;
  left:2px;
  top:202px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:50px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6625 {
  position:absolute;
  left:20px;
  top:20px;
  width:600px;
  height:50px;
}
#u6626 {
  position:absolute;
  left:2px;
  top:17px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6627 {
  position:absolute;
  left:570px;
  top:38px;
  width:20px;
  height:16px;
}
#u6628 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u6629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6629 {
  position:absolute;
  left:34px;
  top:36px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u6630 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u6631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6631 {
  position:absolute;
  left:397px;
  top:440px;
  width:78px;
  height:30px;
  color:#FFFFFF;
}
#u6631_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6631.mouseOver {
}
#u6631_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6631.mouseDown {
}
#u6632 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u6633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6633 {
  position:absolute;
  left:510px;
  top:440px;
  width:70px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6633_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6633.mouseOver {
}
#u6633_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6633.selected {
}
#u6634 {
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u6635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6635 {
  position:absolute;
  left:34px;
  top:93px;
  width:57px;
  height:16px;
}
#u6636 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6637 {
  position:absolute;
  left:121px;
  top:87px;
  width:180px;
  height:28px;
}
#u6638 {
  position:absolute;
  left:2px;
  top:6px;
  width:176px;
  word-wrap:break-word;
}
#u6639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6639 {
  position:absolute;
  left:34px;
  top:137px;
  width:57px;
  height:16px;
}
#u6640 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6641 {
  position:absolute;
  left:121px;
  top:131px;
  width:180px;
  height:28px;
}
#u6642 {
  position:absolute;
  left:2px;
  top:6px;
  width:176px;
  word-wrap:break-word;
}
#u6641_ann {
  position:absolute;
  left:294px;
  top:127px;
  width:1px;
  height:1px;
}
#u6643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6643 {
  position:absolute;
  left:34px;
  top:355px;
  width:71px;
  height:16px;
}
#u6644 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6645 {
  position:absolute;
  left:34px;
  top:176px;
  width:472px;
  height:125px;
}
#u6646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u6646 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u6647 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u6648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u6648 {
  position:absolute;
  left:117px;
  top:0px;
  width:117px;
  height:30px;
}
#u6649 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u6650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u6650 {
  position:absolute;
  left:234px;
  top:0px;
  width:117px;
  height:30px;
}
#u6651 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u6652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u6652 {
  position:absolute;
  left:351px;
  top:0px;
  width:116px;
  height:30px;
}
#u6653 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u6654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u6654 {
  position:absolute;
  left:0px;
  top:30px;
  width:117px;
  height:30px;
}
#u6655 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u6656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u6656 {
  position:absolute;
  left:117px;
  top:30px;
  width:117px;
  height:30px;
}
#u6657 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u6658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u6658 {
  position:absolute;
  left:234px;
  top:30px;
  width:117px;
  height:30px;
}
#u6659 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u6658_ann {
  position:absolute;
  left:337px;
  top:30px;
  width:1px;
  height:1px;
}
#u6660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u6660 {
  position:absolute;
  left:351px;
  top:30px;
  width:116px;
  height:30px;
}
#u6661 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u6662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u6662 {
  position:absolute;
  left:0px;
  top:60px;
  width:117px;
  height:30px;
}
#u6663 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u6664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u6664 {
  position:absolute;
  left:117px;
  top:60px;
  width:117px;
  height:30px;
}
#u6665 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u6666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u6666 {
  position:absolute;
  left:234px;
  top:60px;
  width:117px;
  height:30px;
}
#u6667 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u6668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u6668 {
  position:absolute;
  left:351px;
  top:60px;
  width:116px;
  height:30px;
}
#u6669 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u6670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u6670 {
  position:absolute;
  left:0px;
  top:90px;
  width:117px;
  height:30px;
}
#u6671 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u6672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u6672 {
  position:absolute;
  left:117px;
  top:90px;
  width:117px;
  height:30px;
}
#u6673 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u6674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u6674 {
  position:absolute;
  left:234px;
  top:90px;
  width:117px;
  height:30px;
}
#u6675 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u6676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u6676 {
  position:absolute;
  left:351px;
  top:90px;
  width:116px;
  height:30px;
}
#u6677 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u6678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6678 {
  position:absolute;
  left:34px;
  top:317px;
  width:57px;
  height:16px;
}
#u6679 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6680 {
  position:absolute;
  left:121px;
  top:314px;
  width:180px;
  height:22px;
}
#u6680_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6680_input:disabled {
  color:grayText;
}
#u6681 {
  position:absolute;
  left:311px;
  top:314px;
  width:180px;
  height:22px;
}
#u6681_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6681_input:disabled {
  color:grayText;
}
#u6682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6682 {
  position:absolute;
  left:121px;
  top:349px;
  width:180px;
  height:28px;
}
#u6683 {
  position:absolute;
  left:2px;
  top:6px;
  width:176px;
  word-wrap:break-word;
}
#u6684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6684 {
  position:absolute;
  left:34px;
  top:400px;
  width:71px;
  height:16px;
}
#u6685 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6686 {
  position:absolute;
  left:121px;
  top:395px;
  width:180px;
  height:25px;
}
#u6686_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
