body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:951px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u8830 {
  position:absolute;
  left:151px;
  top:0px;
  width:125px;
  height:40px;
  color:#199ED8;
}
#u8831 {
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u8832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8832 {
  position:absolute;
  left:275px;
  top:0px;
  width:125px;
  height:40px;
}
#u8833 {
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u8834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8834 {
  position:absolute;
  left:400px;
  top:0px;
  width:125px;
  height:40px;
}
#u8835 {
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u8836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:410px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8836 {
  position:absolute;
  left:151px;
  top:40px;
  width:800px;
  height:410px;
}
#u8837 {
  position:absolute;
  left:2px;
  top:197px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:798px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u8838 {
  position:absolute;
  left:152px;
  top:41px;
  width:798px;
  height:82px;
  text-align:left;
}
#u8839 {
  position:absolute;
  left:20px;
  top:33px;
  width:776px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8840 {
  position:absolute;
  left:171px;
  top:50px;
  width:270px;
  height:16px;
  font-size:14px;
}
#u8841 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u8842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8842 {
  position:absolute;
  left:171px;
  top:76px;
  width:750px;
  height:32px;
  color:#999999;
}
#u8843 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  word-wrap:break-word;
}
#u8844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u8844 {
  position:absolute;
  left:823px;
  top:51px;
  width:98px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u8845 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u8846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:798px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u8846 {
  position:absolute;
  left:152px;
  top:123px;
  width:798px;
  height:82px;
  text-align:left;
}
#u8847 {
  position:absolute;
  left:20px;
  top:33px;
  width:776px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8848 {
  position:absolute;
  left:171px;
  top:135px;
  width:642px;
  height:16px;
  font-size:14px;
}
#u8849 {
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  word-wrap:break-word;
}
#u8850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8850 {
  position:absolute;
  left:171px;
  top:165px;
  width:750px;
  height:16px;
  color:#999999;
}
#u8851 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  word-wrap:break-word;
}
#u8852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u8852 {
  position:absolute;
  left:823px;
  top:133px;
  width:98px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u8853 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u8854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:798px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u8854 {
  position:absolute;
  left:152px;
  top:205px;
  width:798px;
  height:82px;
  text-align:left;
}
#u8855 {
  position:absolute;
  left:20px;
  top:33px;
  width:776px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8856 {
  position:absolute;
  left:171px;
  top:220px;
  width:270px;
  height:16px;
  font-size:14px;
}
#u8857 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u8856_ann {
  position:absolute;
  left:434px;
  top:216px;
  width:1px;
  height:1px;
}
#u8858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8858 {
  position:absolute;
  left:171px;
  top:251px;
  width:750px;
  height:16px;
  color:#999999;
}
#u8859 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  word-wrap:break-word;
}
#u8860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u8860 {
  position:absolute;
  left:823px;
  top:215px;
  width:98px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u8861 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u8862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8862 {
  position:absolute;
  left:1px;
  top:0px;
  width:150px;
  height:40px;
}
#u8862_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8862.selected {
}
#u8863 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u8864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8864 {
  position:absolute;
  left:11px;
  top:10px;
  width:20px;
  height:20px;
}
#u8865 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8866 {
  position:absolute;
  left:42px;
  top:58px;
  width:69px;
  height:16px;
}
#u8866_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8866.selected {
}
#u8867 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u8868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8868 {
  position:absolute;
  left:42px;
  top:84px;
  width:57px;
  height:16px;
}
#u8868_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8868.selected {
}
#u8869 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u8870 {
  position:absolute;
  left:869px;
  top:4px;
  width:76px;
  height:30px;
  color:#666666;
}
#u8870_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u8870.mouseOver {
}
#u8870_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u8870.mouseDown {
}
#u8871 {
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  word-wrap:break-word;
}
#u8872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8872 {
  position:absolute;
  left:42px;
  top:114px;
  width:57px;
  height:16px;
}
#u8872_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8872.selected {
}
#u8873 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
